openapi: 3.0.2
info:
  contact:
    email: dcti-bs-ec-cit-support@michelin.com
    name: Michelin Customer Integration Team
  description: "These APIs will help you to do business transactions with Michelin.\
    \ \n<br><br><b>Authentication details:</b><br>\n<br><u>Option A:</u> OAuth2 Client\
    \ Credentials (recommended)\n<br><u>Option B:</u> API Key + Basic Authentication\
    \ (not recommended)\n<br><br>To request your access, please contact your representative.\n\
    <br><br>Our services are based on the EDIWHEEL standards.\n<br>You can find more\
    \ information on the <a href=\"https://www.ediwheel.com/\" target=\"_blank\">EDIWHEEL\
    \ website</a>.\n"
  title: Michelin North America Order-to-Cash APIs for dealers
  version: 1.0.0
servers:
- description: Test server
  url: https://indus.api.michelin.com/
- description: Production server
  url: https://api.michelin.com/
tags:
- description: Obtain a token to consume the other APIs
  name: Authentication
- description: Get stock(aka inventory) information
  name: Stock
- description: "Create new order, get order status"
  name: Order
- description: Get delivery information (aka Despatch Advices or Advanced Shipping
    Notifications)
  name: Delivery
- description: Get invoices
  name: Invoice
paths:
  /idp/v2/b2b/oauth2/token:
    post:
      description: This API will give you a valid authorization token to consume the
        other APIs.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthenticationTokenRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationTokenResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          description: Bad Request
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      summary: Obtain a token to consume the other APIs.
      tags:
      - Authentication
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /stock/amn/C1_1/inquiry:
    post:
      description: This API will give you the quote of stock for a list of given products
        and required quantities.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EDIWheel-C1_1-StockInquiryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EDIWheel-C1_1-StockInquiryResponse'
          description: Inquiry Quoted
        "400":
          content:
            application/json:
              schema:
                example: "{}"
                type: string
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                example: "{}"
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example: "{}"
                type: string
          description: Forbidden
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "408":
          content:
            '*/*':
              schema:
                type: string
          description: Request Timeout
        "415":
          content:
            '*/*':
              schema:
                type: string
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              schema:
                example: "{}"
                type: string
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                example: "{}"
                type: string
          description: Internal Server Error
      security:
      - basicAuth: []
        apikey: []
      - oAuth2ClientCredentials: []
      summary: Stock inquiry for the quote of given products
      tags:
      - Stock
      x-content-type: application/json
      x-accepts:
      - '*/*'
      - application/json
  /order/amn/C1_1/status:
    post:
      description: This API will give you the status of your orders.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EDIWheel-C1_1-OrderStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EDIWheel-C1_1-OrderStatusResponse'
          description: Order status query responsed
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - basicAuth: []
        apikey: []
      - oAuth2ClientCredentials: []
      summary: Obtain the status of your orders
      tags:
      - Order
      x-content-type: application/json
      x-accepts:
      - application/json
  /order/amn/C1_1/create:
    post:
      description: This service will create a new order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EDIWheel-C1_1-OrderCreationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EDIWheel-C1_1-OrderCreationResponse'
          description: Order Created
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - basicAuth: []
        apikey: []
      - oAuth2ClientCredentials: []
      summary: Create a new order.
      tags:
      - Order
      x-content-type: application/json
      x-accepts:
      - application/json
  /desadv/amn/C1_0/desadv:
    post:
      description: This service will give you your Despatch Advices information.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EDIWheel-C1_0-DesadvRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EDIWheel-C1_0-DesadvResponse'
          description: Delivery query responsed
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - basicAuth: []
        apikey: []
      - oAuth2ClientCredentials: []
      summary: Obtain your Despatch Advices information
      tags:
      - Delivery
      x-content-type: application/json
      x-accepts:
      - application/json
  /invoice/amn/B3_4/invoices:
    post:
      description: This service will give you your Michelin invoices.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EDIWheel-B4_4-InvoiceListRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EDIWheel-B4_4-InvoiceListResponse'
          description: Invoices list responsed
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - basicAuth: []
        apikey: []
      - oAuth2ClientCredentials: []
      summary: Get your invoices list.
      tags:
      - Invoice
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    skipParam:
      description: number of items to skip
      explode: true
      in: query
      name: skip
      required: true
      schema:
        format: int32
        type: integer
      style: form
    limitParam:
      description: max records to return
      explode: true
      in: query
      name: limit
      required: true
      schema:
        format: int32
        type: integer
      style: form
  responses:
    NotFound:
      description: Entity not found.
    IllegalInput:
      description: Illegal input for operation.
    GeneralError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GeneralError'
      description: General Error
    UnauthorizedError:
      description: Authentication information is missing or invalid
      headers:
        WWW_Authenticate:
          explode: false
          schema:
            type: string
          style: simple
  schemas:
    EDIWheel-C1_0-DesadvRequest:
      properties:
        DocumentID:
          type: string
        Variant:
          type: string
        DespatchFromDate:
          type: string
        DespatchToDate:
          type: string
        References:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_References'
        SellerParty:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_SellerParty'
        SupplierParty:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_SellerParty'
        BuyerParty:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_SellerParty'
        OrderingParty:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_SellerParty'
        Consignee:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_Consignee'
        OrderedArticle:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_OrderedArticle'
      required:
      - BuyerParty
      - DocumentID
      type: object
    EDIWheel-C1_0-DesadvResponse:
      example:
        EnvelopeHeader:
          Variant: Variant
          ReceiverID: ReceiverID
          InterchangeID: InterchangeID
          NumberOfMessages: NumberOfMessages
          DocumentID: DocumentID
          SenderID: SenderID
          Timestamp: Timestamp
          MessageType: MessageType
        ErrorHead:
          ErrorCode: ErrorCode
        desadv:
        - LineLevel:
          - LineID: LineID
            References:
            - LineID: LineID
              DocumentID: DocumentID
              IssueDate: IssueDate
              ReferenceTypeCode: ReferenceTypeCode
            - LineID: LineID
              DocumentID: DocumentID
              IssueDate: IssueDate
              ReferenceTypeCode: ReferenceTypeCode
            OrderingMethod: OrderingMethod
            OrderedArticle:
              ArticleDescription:
                ArticleDescriptionText:
                - ArticleDescriptionText
                - ArticleDescriptionText
              DeliveryOption:
              - DeliveryOption
              - DeliveryOption
              ArticleIdentification:
                BuyersArticleID: BuyersArticleID
                EANUCCArticleID: EANUCCArticleID
                ManufacturersArticleID: ManufacturersArticleID
              DespatchedQuantity:
                MeasureUnitCode: MeasureUnitCode
                QuantityValue: QuantityValue
              TracingInformation:
              - TracingURI: TracingURI
                SerialNumber: SerialNumber
                TracingID: TracingID
              - TracingURI: TracingURI
                SerialNumber: SerialNumber
                TracingID: TracingID
          - LineID: LineID
            References:
            - LineID: LineID
              DocumentID: DocumentID
              IssueDate: IssueDate
              ReferenceTypeCode: ReferenceTypeCode
            - LineID: LineID
              DocumentID: DocumentID
              IssueDate: IssueDate
              ReferenceTypeCode: ReferenceTypeCode
            OrderingMethod: OrderingMethod
            OrderedArticle:
              ArticleDescription:
                ArticleDescriptionText:
                - ArticleDescriptionText
                - ArticleDescriptionText
              DeliveryOption:
              - DeliveryOption
              - DeliveryOption
              ArticleIdentification:
                BuyersArticleID: BuyersArticleID
                EANUCCArticleID: EANUCCArticleID
                ManufacturersArticleID: ManufacturersArticleID
              DespatchedQuantity:
                MeasureUnitCode: MeasureUnitCode
                QuantityValue: QuantityValue
              TracingInformation:
              - TracingURI: TracingURI
                SerialNumber: SerialNumber
                TracingID: TracingID
              - TracingURI: TracingURI
                SerialNumber: SerialNumber
                TracingID: TracingID
          DespatchDate: DespatchDate
          BuyerParty:
            PartyID: PartyID
            AgencyCode: AgencyCode
          OrderingParty:
            PartyID: PartyID
            AgencyCode: AgencyCode
          IssueDate: IssueDate
          DocumentNumber: DocumentNumber
          CarrierParty:
            PartyID: PartyID
            AgencyCode: AgencyCode
          Consignee:
            PartyID: PartyID
            Address:
              Geolocation:
                Latitude: Latitude
                Longitude: Longitude
              Street:
              - Street
              - Street
              City: City
              PostCode: PostCode
              CountryCode: CountryCode
              District: District
              PostBoxCode: PostBoxCode
              SubCountry: SubCountry
            AgencyCode: AgencyCode
            Name:
            - Name
            - Name
          DeliveryOption:
          - DeliveryOption
          - DeliveryOption
          SupplierParty:
            PartyID: PartyID
            SalesContact:
              Name: Name
            AgencyCode: AgencyCode
            ShippingLocation:
              LocationName: LocationName
          Measures:
            GrossWeight:
              MeasureUnitCode: MeasureUnitCode
              Measure: Measure
            Volume:
              MeasureUnitCode: MeasureUnitCode
              Measure: Measure
            NetWeight:
              MeasureUnitCode: MeasureUnitCode
              Measure: Measure
          TotalQuantity:
            MeasureUnitCode: MeasureUnitCode
            QuantityValue: QuantityValue
          ArrivalDate: ArrivalDate
          References:
          - DocumentID: DocumentID
            IssueDate: IssueDate
            ReferenceTypeCode: ReferenceTypeCode
          - DocumentID: DocumentID
            IssueDate: IssueDate
            ReferenceTypeCode: ReferenceTypeCode
          SellerParty:
            PartyID: PartyID
            AgencyCode: AgencyCode
          DocumentTypeCode: DocumentTypeCode
          ArrivalTime: ArrivalTime
        - LineLevel:
          - LineID: LineID
            References:
            - LineID: LineID
              DocumentID: DocumentID
              IssueDate: IssueDate
              ReferenceTypeCode: ReferenceTypeCode
            - LineID: LineID
              DocumentID: DocumentID
              IssueDate: IssueDate
              ReferenceTypeCode: ReferenceTypeCode
            OrderingMethod: OrderingMethod
            OrderedArticle:
              ArticleDescription:
                ArticleDescriptionText:
                - ArticleDescriptionText
                - ArticleDescriptionText
              DeliveryOption:
              - DeliveryOption
              - DeliveryOption
              ArticleIdentification:
                BuyersArticleID: BuyersArticleID
                EANUCCArticleID: EANUCCArticleID
                ManufacturersArticleID: ManufacturersArticleID
              DespatchedQuantity:
                MeasureUnitCode: MeasureUnitCode
                QuantityValue: QuantityValue
              TracingInformation:
              - TracingURI: TracingURI
                SerialNumber: SerialNumber
                TracingID: TracingID
              - TracingURI: TracingURI
                SerialNumber: SerialNumber
                TracingID: TracingID
          - LineID: LineID
            References:
            - LineID: LineID
              DocumentID: DocumentID
              IssueDate: IssueDate
              ReferenceTypeCode: ReferenceTypeCode
            - LineID: LineID
              DocumentID: DocumentID
              IssueDate: IssueDate
              ReferenceTypeCode: ReferenceTypeCode
            OrderingMethod: OrderingMethod
            OrderedArticle:
              ArticleDescription:
                ArticleDescriptionText:
                - ArticleDescriptionText
                - ArticleDescriptionText
              DeliveryOption:
              - DeliveryOption
              - DeliveryOption
              ArticleIdentification:
                BuyersArticleID: BuyersArticleID
                EANUCCArticleID: EANUCCArticleID
                ManufacturersArticleID: ManufacturersArticleID
              DespatchedQuantity:
                MeasureUnitCode: MeasureUnitCode
                QuantityValue: QuantityValue
              TracingInformation:
              - TracingURI: TracingURI
                SerialNumber: SerialNumber
                TracingID: TracingID
              - TracingURI: TracingURI
                SerialNumber: SerialNumber
                TracingID: TracingID
          DespatchDate: DespatchDate
          BuyerParty:
            PartyID: PartyID
            AgencyCode: AgencyCode
          OrderingParty:
            PartyID: PartyID
            AgencyCode: AgencyCode
          IssueDate: IssueDate
          DocumentNumber: DocumentNumber
          CarrierParty:
            PartyID: PartyID
            AgencyCode: AgencyCode
          Consignee:
            PartyID: PartyID
            Address:
              Geolocation:
                Latitude: Latitude
                Longitude: Longitude
              Street:
              - Street
              - Street
              City: City
              PostCode: PostCode
              CountryCode: CountryCode
              District: District
              PostBoxCode: PostBoxCode
              SubCountry: SubCountry
            AgencyCode: AgencyCode
            Name:
            - Name
            - Name
          DeliveryOption:
          - DeliveryOption
          - DeliveryOption
          SupplierParty:
            PartyID: PartyID
            SalesContact:
              Name: Name
            AgencyCode: AgencyCode
            ShippingLocation:
              LocationName: LocationName
          Measures:
            GrossWeight:
              MeasureUnitCode: MeasureUnitCode
              Measure: Measure
            Volume:
              MeasureUnitCode: MeasureUnitCode
              Measure: Measure
            NetWeight:
              MeasureUnitCode: MeasureUnitCode
              Measure: Measure
          TotalQuantity:
            MeasureUnitCode: MeasureUnitCode
            QuantityValue: QuantityValue
          ArrivalDate: ArrivalDate
          References:
          - DocumentID: DocumentID
            IssueDate: IssueDate
            ReferenceTypeCode: ReferenceTypeCode
          - DocumentID: DocumentID
            IssueDate: IssueDate
            ReferenceTypeCode: ReferenceTypeCode
          SellerParty:
            PartyID: PartyID
            AgencyCode: AgencyCode
          DocumentTypeCode: DocumentTypeCode
          ArrivalTime: ArrivalTime
      properties:
        EnvelopeHeader:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_EnvelopeHeader'
        ErrorHead:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_ErrorHead'
        desadv:
          items:
            $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner'
          required:
          - ArrivalDate
          - BuyerParty
          - Consignee
          - DespatchDate
          - DocumentNumber
          - DocumentTypeCode
          - IssueDate
          - References
          type: array
      required:
      - EnvelopeHeader
      - ErrorHead
      type: object
    EDIWheel-C1_1-OrderCreationRequest:
      properties:
        DocumentID:
          type: string
        Variant:
          type: string
        EarliestDeliveryDate:
          type: string
        TransportPriority:
          type: string
        Campaign:
          type: string
        PickUp:
          type: string
        DeliveryOption:
          type: string
        DeliveryRemarks:
          type: string
        BlanketOrderReference:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_BlanketOrderReference'
        CustomerReference:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_BlanketOrderReference'
        SellerParty:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_SellerParty'
        SupplierParty:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_SellerParty'
        BuyerParty:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_SellerParty'
        OrderingParty:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_SellerParty'
        Consignee:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_Consignee'
        Contract:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_BlanketOrderReference'
        PaymentTerms:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_PaymentTerms'
        OrderLine:
          items:
            $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_OrderLine_inner'
          type: array
      required:
      - BuyerParty
      - CustomerReference
      - DocumentID
      type: object
    EDIWheel-C1_1-OrderCreationResponse:
      example:
        DeliveryRemarks: DeliveryRemarks
        BuyerParty:
          PartyID: PartyID
          Address:
            Street:
            - Street
            - Street
            City: City
            PostCode: PostCode
            CountryCode: CountryCode
            District: District
            PostBoxCode: PostBoxCode
            SubCountry: SubCountry
          InformationContact:
            FaxNumber: FaxNumber
            ContactID: ContactID
            TelephoneNumber: TelephoneNumber
            EmailAddress: EmailAddress
            Name:
            - Name
            - Name
            TelephoneExtension: TelephoneExtension
          AgencyCode: AgencyCode
          Name:
          - Name
          - Name
        PickUp: PickUp
        OrderingParty:
          PartyID: PartyID
          AgencyCode: AgencyCode
        DocumentID: DocumentID
        EarliestDeliveryDate: EarliestDeliveryDate
        Charge:
          ChargePercent: ChargePercent
          ChargeCategory: ChargeCategory
          ChargeAmount:
            AmountValue: AmountValue
        PaymentTerms:
          PaymentMethod: PaymentMethod
        Variant: Variant
        CurrencyCode: CurrencyCode
        Consignee:
          PartyID: PartyID
          Address:
            Geolocation:
              Latitude: Latitude
              Longitude: Longitude
            Street:
            - Street
            - Street
            City: City
            PostCode: PostCode
            CountryCode: CountryCode
            District: District
            PostBoxCode: PostBoxCode
            SubCountry: SubCountry
          InformationContact:
            FaxNumber: FaxNumber
            ContactID: ContactID
            TelephoneNumber: TelephoneNumber
            EmailAddress: EmailAddress
            Name:
            - Name
            - Name
            TelephoneExtension: TelephoneExtension
          AgencyCode: AgencyCode
          Name:
          - Name
          - Name
        DeliveryOption: DeliveryOption
        CustomerReference:
          DocumentID: DocumentID
        SupplierParty:
          PartyID: PartyID
          Address:
            Street:
            - Street
            - Street
            City: City
            PostCode: PostCode
            CountryCode: CountryCode
            District: District
            PostBoxCode: PostBoxCode
            SubCountry: SubCountry
          InformationContact:
            FaxNumber: FaxNumber
            ContactID: ContactID
            TelephoneNumber: TelephoneNumber
            EmailAddress: EmailAddress
            Name:
            - Name
            - Name
            TelephoneExtension: TelephoneExtension
          AgencyCode: AgencyCode
          Name:
          - Name
          - Name
        Campaign: Campaign
        TransportPriority: TransportPriority
        OrderLine:
        - AdditionalCustomerReferenceNumber:
            DocumentID: DocumentID
          SuppliersOrderLineID: SuppliersOrderLineID
          LineID: LineID
          OrderedArticle:
            Availability: Availability
            ArticleDescription:
              ArticleDescriptionText: ArticleDescriptionText
            KilledQuantity:
              QuantityValue: QuantityValue
            ArticleIdentification:
              BuyersArticleID: BuyersArticleID
              EANUCCArticleID: EANUCCArticleID
              ManufacturersArticleID: ManufacturersArticleID
            OrderedQuantity:
              QuantityValue: QuantityValue
            OrderReference:
              DocumentID: DocumentID
            RequestedDeliveryDate: RequestedDeliveryDate
            ArticleComment: ArticleComment
            Error:
              ErrorText: ErrorText
              ErrorCode: ErrorCode
            ScheduleDetails:
            - DeliveryTime: DeliveryTime
              PriceDetails:
                NetUnitPrice:
                  PriceAmount: PriceAmount
              ConfirmedQuantity:
                QuantityValue: QuantityValue
              Charge:
              - ChargePercent: ChargePercent
                ChargeCategory: ChargeCategory
                ChargeAmount:
                  AmountValue: AmountValue
              - ChargePercent: ChargePercent
                ChargeCategory: ChargeCategory
                ChargeAmount:
                  AmountValue: AmountValue
              TransportMode: TransportMode
              DeliveryDate: DeliveryDate
            - DeliveryTime: DeliveryTime
              PriceDetails:
                NetUnitPrice:
                  PriceAmount: PriceAmount
              ConfirmedQuantity:
                QuantityValue: QuantityValue
              Charge:
              - ChargePercent: ChargePercent
                ChargeCategory: ChargeCategory
                ChargeAmount:
                  AmountValue: AmountValue
              - ChargePercent: ChargePercent
                ChargeCategory: ChargeCategory
                ChargeAmount:
                  AmountValue: AmountValue
              TransportMode: TransportMode
              DeliveryDate: DeliveryDate
            RequestedDeliveryTime: RequestedDeliveryTime
        - AdditionalCustomerReferenceNumber:
            DocumentID: DocumentID
          SuppliersOrderLineID: SuppliersOrderLineID
          LineID: LineID
          OrderedArticle:
            Availability: Availability
            ArticleDescription:
              ArticleDescriptionText: ArticleDescriptionText
            KilledQuantity:
              QuantityValue: QuantityValue
            ArticleIdentification:
              BuyersArticleID: BuyersArticleID
              EANUCCArticleID: EANUCCArticleID
              ManufacturersArticleID: ManufacturersArticleID
            OrderedQuantity:
              QuantityValue: QuantityValue
            OrderReference:
              DocumentID: DocumentID
            RequestedDeliveryDate: RequestedDeliveryDate
            ArticleComment: ArticleComment
            Error:
              ErrorText: ErrorText
              ErrorCode: ErrorCode
            ScheduleDetails:
            - DeliveryTime: DeliveryTime
              PriceDetails:
                NetUnitPrice:
                  PriceAmount: PriceAmount
              ConfirmedQuantity:
                QuantityValue: QuantityValue
              Charge:
              - ChargePercent: ChargePercent
                ChargeCategory: ChargeCategory
                ChargeAmount:
                  AmountValue: AmountValue
              - ChargePercent: ChargePercent
                ChargeCategory: ChargeCategory
                ChargeAmount:
                  AmountValue: AmountValue
              TransportMode: TransportMode
              DeliveryDate: DeliveryDate
            - DeliveryTime: DeliveryTime
              PriceDetails:
                NetUnitPrice:
                  PriceAmount: PriceAmount
              ConfirmedQuantity:
                QuantityValue: QuantityValue
              Charge:
              - ChargePercent: ChargePercent
                ChargeCategory: ChargeCategory
                ChargeAmount:
                  AmountValue: AmountValue
              - ChargePercent: ChargePercent
                ChargeCategory: ChargeCategory
                ChargeAmount:
                  AmountValue: AmountValue
              TransportMode: TransportMode
              DeliveryDate: DeliveryDate
            RequestedDeliveryTime: RequestedDeliveryTime
        BlanketOrderReference:
          DocumentID: DocumentID
        SellerParty:
          PartyID: PartyID
          Address:
            Street:
            - Street
            - Street
            City: City
            PostCode: PostCode
            CountryCode: CountryCode
            District: District
            PostBoxCode: PostBoxCode
            SubCountry: SubCountry
          InformationContact:
            FaxNumber: FaxNumber
            ContactID: ContactID
            TelephoneNumber: TelephoneNumber
            EmailAddress: EmailAddress
            Name:
            - Name
            - Name
            TelephoneExtension: TelephoneExtension
          AgencyCode: AgencyCode
          Name:
          - Name
          - Name
        ErrorHead:
          ErrorCode: ErrorCode
        Contract:
          DocumentID: DocumentID
      properties:
        DocumentID:
          type: string
        Variant:
          type: string
        EarliestDeliveryDate:
          type: string
        TransportPriority:
          type: string
        Campaign:
          type: string
        PickUp:
          type: string
        DeliveryOption:
          type: string
        DeliveryRemarks:
          type: string
        ErrorHead:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_ErrorHead'
        BlanketOrderReference:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_BlanketOrderReference'
        CustomerReference:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_BlanketOrderReference'
        SellerParty:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_SellerParty'
        SupplierParty:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_SellerParty'
        BuyerParty:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_SellerParty'
        OrderingParty:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_SellerParty'
        Consignee:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationResponse_Consignee'
        Contract:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_BlanketOrderReference'
        PaymentTerms:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_PaymentTerms'
        CurrencyCode:
          type: string
        Charge:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationResponse_Charge'
        OrderLine:
          items:
            $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationResponse_OrderLine_inner'
          type: array
      required:
      - BuyerParty
      - CustomerReference
      - DocumentID
      - ErrorHead
      type: object
    EDIWheel-C1_1-OrderStatusRequest:
      properties:
        DocumentID:
          type: string
        Variant:
          type: string
        OrderDateFrom:
          type: string
        OrderDateTo:
          type: string
        OrderingMethod:
          type: string
        OrderStatusIndicator:
          type: string
        BuyerParty:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_SellerParty'
        SellerParty:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_SellerParty'
        Consignee:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderStatusRequest_Consignee'
        SupplierParty:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_SellerParty'
        ReferencedOrder:
          items:
            $ref: '#/components/schemas/EDIWheel_C1_1_OrderStatusRequest_ReferencedOrder_inner'
          type: array
      required:
      - BuyerParty
      - DocumentID
      type: object
    EDIWheel-C1_1-OrderStatusResponse:
      example:
        Variant: Variant
        OrderDateTo: OrderDateTo
        Consignee:
          PartyID: PartyID
          Address:
            Geolocation:
              Latitude: Latitude
              Longitude: Longitude
            Street:
            - Street
            - Street
            City: City
            PostCode: PostCode
            CountryCode: CountryCode
            District: District
            PostBoxCode: PostBoxCode
            SubCountry: SubCountry
          InformationContact:
            FaxNumber: FaxNumber
            ContactID: ContactID
            TelephoneNumber: TelephoneNumber
            EmailAddress: EmailAddress
            Name:
            - Name
            - Name
            TelephoneExtension: TelephoneExtension
          AgencyCode: AgencyCode
          Name:
          - Name
          - Name
        OrderDateFrom: OrderDateFrom
        BuyerParty:
          PartyID: PartyID
          Address:
            Street:
            - Street
            - Street
            City: City
            PostCode: PostCode
            CountryCode: CountryCode
            District: District
            PostBoxCode: PostBoxCode
            SubCountry: SubCountry
          InformationContact:
            FaxNumber: FaxNumber
            ContactID: ContactID
            TelephoneNumber: TelephoneNumber
            EmailAddress: EmailAddress
            Name:
            - Name
            - Name
            TelephoneExtension: TelephoneExtension
          AgencyCode: AgencyCode
          Name:
          - Name
          - Name
        OrderingParty:
          PartyID: PartyID
          AgencyCode: AgencyCode
        DocumentID: DocumentID
        ErrorHead:
          ErrorCode: ErrorCode
        ReferencedOrder:
        - DeliveryOption: DeliveryOption
          SupplierParty:
            PartyID: PartyID
            AgencyCode: AgencyCode
          SupplierOrderNumber:
            DocumentID: DocumentID
          PickUp: PickUp
          OrderLine:
          - AdditionalCustomerReferenceNumber:
              DocumentID: DocumentID
            LineID: LineID
            CustomerLineItemNumber: CustomerLineItemNumber
            OrderedArticle:
              ArticleDescription:
                ArticleDescriptionText: ArticleDescriptionText
              ArticleIdentification:
                BuyersArticleID: BuyersArticleID
                EANUCCArticleID: EANUCCArticleID
                ManufacturersArticleID: ManufacturersArticleID
              OrderedQuantity:
                QuantityValue: QuantityValue
              RequestedDeliveryDate: RequestedDeliveryDate
              ArticleComment: ArticleComment
              ScheduleDetails:
              - DeliveryTime: DeliveryTime
                ConfirmedQuantity:
                  QuantityValue: QuantityValue
                CancelledQuantity:
                  QuantityValue: QuantityValue
                OpenQuantity:
                  QuantityValue: QuantityValue
                DeliveryDate: DeliveryDate
                ScheduledArticleDespatchDetails:
                  DespatchDate: DespatchDate
                  DespatchedQuantity:
                    QuantityValue: QuantityValue
                  DespatchAdviceReference:
                    LineID: LineID
                    DocumentID: DocumentID
              - DeliveryTime: DeliveryTime
                ConfirmedQuantity:
                  QuantityValue: QuantityValue
                CancelledQuantity:
                  QuantityValue: QuantityValue
                OpenQuantity:
                  QuantityValue: QuantityValue
                DeliveryDate: DeliveryDate
                ScheduledArticleDespatchDetails:
                  DespatchDate: DespatchDate
                  DespatchedQuantity:
                    QuantityValue: QuantityValue
                  DespatchAdviceReference:
                    LineID: LineID
                    DocumentID: DocumentID
              RequestedDeliveryTime: RequestedDeliveryTime
          - AdditionalCustomerReferenceNumber:
              DocumentID: DocumentID
            LineID: LineID
            CustomerLineItemNumber: CustomerLineItemNumber
            OrderedArticle:
              ArticleDescription:
                ArticleDescriptionText: ArticleDescriptionText
              ArticleIdentification:
                BuyersArticleID: BuyersArticleID
                EANUCCArticleID: EANUCCArticleID
                ManufacturersArticleID: ManufacturersArticleID
              OrderedQuantity:
                QuantityValue: QuantityValue
              RequestedDeliveryDate: RequestedDeliveryDate
              ArticleComment: ArticleComment
              ScheduleDetails:
              - DeliveryTime: DeliveryTime
                ConfirmedQuantity:
                  QuantityValue: QuantityValue
                CancelledQuantity:
                  QuantityValue: QuantityValue
                OpenQuantity:
                  QuantityValue: QuantityValue
                DeliveryDate: DeliveryDate
                ScheduledArticleDespatchDetails:
                  DespatchDate: DespatchDate
                  DespatchedQuantity:
                    QuantityValue: QuantityValue
                  DespatchAdviceReference:
                    LineID: LineID
                    DocumentID: DocumentID
              - DeliveryTime: DeliveryTime
                ConfirmedQuantity:
                  QuantityValue: QuantityValue
                CancelledQuantity:
                  QuantityValue: QuantityValue
                OpenQuantity:
                  QuantityValue: QuantityValue
                DeliveryDate: DeliveryDate
                ScheduledArticleDespatchDetails:
                  DespatchDate: DespatchDate
                  DespatchedQuantity:
                    QuantityValue: QuantityValue
                  DespatchAdviceReference:
                    LineID: LineID
                    DocumentID: DocumentID
              RequestedDeliveryTime: RequestedDeliveryTime
          OrderReference:
            DocumentID: DocumentID
          SellerParty:
            PartyID: PartyID
            AgencyCode: AgencyCode
          Error:
            ErrorText: ErrorText
            errorCode: errorCode
          OrderingMethod: OrderingMethod
          Contract:
            DocumentID: DocumentID
          OrderDate: OrderDate
        - DeliveryOption: DeliveryOption
          SupplierParty:
            PartyID: PartyID
            AgencyCode: AgencyCode
          SupplierOrderNumber:
            DocumentID: DocumentID
          PickUp: PickUp
          OrderLine:
          - AdditionalCustomerReferenceNumber:
              DocumentID: DocumentID
            LineID: LineID
            CustomerLineItemNumber: CustomerLineItemNumber
            OrderedArticle:
              ArticleDescription:
                ArticleDescriptionText: ArticleDescriptionText
              ArticleIdentification:
                BuyersArticleID: BuyersArticleID
                EANUCCArticleID: EANUCCArticleID
                ManufacturersArticleID: ManufacturersArticleID
              OrderedQuantity:
                QuantityValue: QuantityValue
              RequestedDeliveryDate: RequestedDeliveryDate
              ArticleComment: ArticleComment
              ScheduleDetails:
              - DeliveryTime: DeliveryTime
                ConfirmedQuantity:
                  QuantityValue: QuantityValue
                CancelledQuantity:
                  QuantityValue: QuantityValue
                OpenQuantity:
                  QuantityValue: QuantityValue
                DeliveryDate: DeliveryDate
                ScheduledArticleDespatchDetails:
                  DespatchDate: DespatchDate
                  DespatchedQuantity:
                    QuantityValue: QuantityValue
                  DespatchAdviceReference:
                    LineID: LineID
                    DocumentID: DocumentID
              - DeliveryTime: DeliveryTime
                ConfirmedQuantity:
                  QuantityValue: QuantityValue
                CancelledQuantity:
                  QuantityValue: QuantityValue
                OpenQuantity:
                  QuantityValue: QuantityValue
                DeliveryDate: DeliveryDate
                ScheduledArticleDespatchDetails:
                  DespatchDate: DespatchDate
                  DespatchedQuantity:
                    QuantityValue: QuantityValue
                  DespatchAdviceReference:
                    LineID: LineID
                    DocumentID: DocumentID
              RequestedDeliveryTime: RequestedDeliveryTime
          - AdditionalCustomerReferenceNumber:
              DocumentID: DocumentID
            LineID: LineID
            CustomerLineItemNumber: CustomerLineItemNumber
            OrderedArticle:
              ArticleDescription:
                ArticleDescriptionText: ArticleDescriptionText
              ArticleIdentification:
                BuyersArticleID: BuyersArticleID
                EANUCCArticleID: EANUCCArticleID
                ManufacturersArticleID: ManufacturersArticleID
              OrderedQuantity:
                QuantityValue: QuantityValue
              RequestedDeliveryDate: RequestedDeliveryDate
              ArticleComment: ArticleComment
              ScheduleDetails:
              - DeliveryTime: DeliveryTime
                ConfirmedQuantity:
                  QuantityValue: QuantityValue
                CancelledQuantity:
                  QuantityValue: QuantityValue
                OpenQuantity:
                  QuantityValue: QuantityValue
                DeliveryDate: DeliveryDate
                ScheduledArticleDespatchDetails:
                  DespatchDate: DespatchDate
                  DespatchedQuantity:
                    QuantityValue: QuantityValue
                  DespatchAdviceReference:
                    LineID: LineID
                    DocumentID: DocumentID
              - DeliveryTime: DeliveryTime
                ConfirmedQuantity:
                  QuantityValue: QuantityValue
                CancelledQuantity:
                  QuantityValue: QuantityValue
                OpenQuantity:
                  QuantityValue: QuantityValue
                DeliveryDate: DeliveryDate
                ScheduledArticleDespatchDetails:
                  DespatchDate: DespatchDate
                  DespatchedQuantity:
                    QuantityValue: QuantityValue
                  DespatchAdviceReference:
                    LineID: LineID
                    DocumentID: DocumentID
              RequestedDeliveryTime: RequestedDeliveryTime
          OrderReference:
            DocumentID: DocumentID
          SellerParty:
            PartyID: PartyID
            AgencyCode: AgencyCode
          Error:
            ErrorText: ErrorText
            errorCode: errorCode
          OrderingMethod: OrderingMethod
          Contract:
            DocumentID: DocumentID
          OrderDate: OrderDate
        OrderStatusIndicator: OrderStatusIndicator
      properties:
        DocumentID:
          type: string
        Variant:
          type: string
        OrderDateFrom:
          type: string
        OrderDateTo:
          type: string
        OrderStatusIndicator:
          type: string
        ErrorHead:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_ErrorHead'
        BuyerParty:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_SellerParty'
        OrderingParty:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_SellerParty'
        Consignee:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderStatusResponse_Consignee'
        ReferencedOrder:
          items:
            $ref: '#/components/schemas/EDIWheel_C1_1_OrderStatusResponse_ReferencedOrder_inner'
          type: array
      required:
      - BuyerParty
      - DocumentID
      - ErrorHead
      type: object
    EDIWheel-B4_4-InvoiceListRequest:
      properties:
        DocumentID:
          type: string
        Variant:
          type: string
        invoice:
          items:
            $ref: '#/components/schemas/EDIWheel_B4_4_InvoiceListRequest_invoice_inner'
          type: array
      required:
      - DocumentID
      - invoice
      type: object
    EDIWheel-B4_4-InvoiceListResponse:
      example:
        Variant: Variant
        NumberOfMessages: 0
        DocumentID: DocumentID
        ErrorHead:
          ErrorCode: ErrorCode
        invoice:
        - LineLevel:
          - LineID: LineID
            References:
              BuyerOrderReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              ReturnDeliveryNoticeReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              CustomerClaimNumber:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              DeliveryNoteReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
                CompletionDate: CompletionDate
              FleetReference:
              - DocumentID: DocumentID
                ReferenceTypeCode: ReferenceTypeCode
              - DocumentID: DocumentID
                ReferenceTypeCode: ReferenceTypeCode
              ReturnSalesOrderNoteReference:
                DocumentID: DocumentID
              WarrantyNumber:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              CustomerReference:
                LineID: LineID
                DocumentID: DocumentID
              SellerReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              BlanketOrderReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              CustomsDeclarationNumber:
              - DocumentID: DocumentID
              - DocumentID: DocumentID
              SuppliersOrderReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              AssociatedInvoiceReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              DeliveryListReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              SupplierClaimNumber:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
            LineItemNetAmount:
              AmountValue: AmountValue
            Article:
              PriceDetails:
                NetUnitPrice:
                  PriceAmount: PriceAmount
                GrossUnitPrice:
                  PriceAmount: PriceAmount
                FixedPrice:
                  PriceAmount: PriceAmount
              ArticleDescription:
              - ArticleDescriptionText: ArticleDescriptionText
              - ArticleDescriptionText: ArticleDescriptionText
              LineItemTotalAmount:
                AmountValue: AmountValue
              ArticleIdentification:
                BuyersArticleID: BuyersArticleID
                EANUCCArticleID: EANUCCArticleID
                SuppliersArticleID: SuppliersArticleID
              OrderingParty:
                PartyID: PartyID
                AgencyCode: AgencyCode
              AllowanceOrCharge:
              - TaxDetails:
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                OtherChargeTypeCode: OtherChargeTypeCode
                AllowanceOrChargeAmount:
                  AmountValue: AmountValue
                AllowanceOrChargePercent: AllowanceOrChargePercent
                AgencyCode: AgencyCode
                AllowanceOrChargeNumber: AllowanceOrChargeNumber
                AllowanceOrChargeTypeCode: AllowanceOrChargeTypeCode
                AllowanceOrChargeName: AllowanceOrChargeName
              - TaxDetails:
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                OtherChargeTypeCode: OtherChargeTypeCode
                AllowanceOrChargeAmount:
                  AmountValue: AmountValue
                AllowanceOrChargePercent: AllowanceOrChargePercent
                AgencyCode: AgencyCode
                AllowanceOrChargeNumber: AllowanceOrChargeNumber
                AllowanceOrChargeTypeCode: AllowanceOrChargeTypeCode
                AllowanceOrChargeName: AllowanceOrChargeName
              CountryOfOrigin: CountryOfOrigin
              TracingInformation:
              - SerialNumber: SerialNumber
                TracingID: TracingID
              - SerialNumber: SerialNumber
                TracingID: TracingID
              Consignee:
                PartyID: PartyID
                Address:
                  Street:
                  - Street
                  - Street
                  City: City
                  PostCode: PostCode
                  CountryCode: CountryCode
                  District: District
                  PostBoxCode: PostBoxCode
                  SubCountry: SubCountry
                AgencyCode: AgencyCode
                Name:
                - Name
                - Name
              InvoicedQuantity:
                MeasureUnitCode: MeasureUnitCode
                QuantityValue: QuantityValue
              TaxDetails:
                TaxAmount:
                  AmountValue: AmountValue
                TaxTypeCode: TaxTypeCode
                TaxCategoryCode: TaxCategoryCode
                TaxRate: TaxRate
              ArticleCharacteristics:
                URL5: URL5
                ThreePMSFMark: ThreePMSFMark
                RollingResistance: RollingResistance
                WetGrip: WetGrip
                IceGripPICT: IceGripPICT
                EUDirectiveNumber: EUDirectiveNumber
                NoiseClassType: NoiseClassType
                NoisePerformance: NoisePerformance
                VehicleClass: VehicleClass
              LineNote:
                LanguageCode: LanguageCode
                Note:
                - Note
                - Note
            OrderingMethod: OrderingMethod
          - LineID: LineID
            References:
              BuyerOrderReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              ReturnDeliveryNoticeReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              CustomerClaimNumber:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              DeliveryNoteReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
                CompletionDate: CompletionDate
              FleetReference:
              - DocumentID: DocumentID
                ReferenceTypeCode: ReferenceTypeCode
              - DocumentID: DocumentID
                ReferenceTypeCode: ReferenceTypeCode
              ReturnSalesOrderNoteReference:
                DocumentID: DocumentID
              WarrantyNumber:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              CustomerReference:
                LineID: LineID
                DocumentID: DocumentID
              SellerReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              BlanketOrderReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              CustomsDeclarationNumber:
              - DocumentID: DocumentID
              - DocumentID: DocumentID
              SuppliersOrderReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              AssociatedInvoiceReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              DeliveryListReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              SupplierClaimNumber:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
            LineItemNetAmount:
              AmountValue: AmountValue
            Article:
              PriceDetails:
                NetUnitPrice:
                  PriceAmount: PriceAmount
                GrossUnitPrice:
                  PriceAmount: PriceAmount
                FixedPrice:
                  PriceAmount: PriceAmount
              ArticleDescription:
              - ArticleDescriptionText: ArticleDescriptionText
              - ArticleDescriptionText: ArticleDescriptionText
              LineItemTotalAmount:
                AmountValue: AmountValue
              ArticleIdentification:
                BuyersArticleID: BuyersArticleID
                EANUCCArticleID: EANUCCArticleID
                SuppliersArticleID: SuppliersArticleID
              OrderingParty:
                PartyID: PartyID
                AgencyCode: AgencyCode
              AllowanceOrCharge:
              - TaxDetails:
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                OtherChargeTypeCode: OtherChargeTypeCode
                AllowanceOrChargeAmount:
                  AmountValue: AmountValue
                AllowanceOrChargePercent: AllowanceOrChargePercent
                AgencyCode: AgencyCode
                AllowanceOrChargeNumber: AllowanceOrChargeNumber
                AllowanceOrChargeTypeCode: AllowanceOrChargeTypeCode
                AllowanceOrChargeName: AllowanceOrChargeName
              - TaxDetails:
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                OtherChargeTypeCode: OtherChargeTypeCode
                AllowanceOrChargeAmount:
                  AmountValue: AmountValue
                AllowanceOrChargePercent: AllowanceOrChargePercent
                AgencyCode: AgencyCode
                AllowanceOrChargeNumber: AllowanceOrChargeNumber
                AllowanceOrChargeTypeCode: AllowanceOrChargeTypeCode
                AllowanceOrChargeName: AllowanceOrChargeName
              CountryOfOrigin: CountryOfOrigin
              TracingInformation:
              - SerialNumber: SerialNumber
                TracingID: TracingID
              - SerialNumber: SerialNumber
                TracingID: TracingID
              Consignee:
                PartyID: PartyID
                Address:
                  Street:
                  - Street
                  - Street
                  City: City
                  PostCode: PostCode
                  CountryCode: CountryCode
                  District: District
                  PostBoxCode: PostBoxCode
                  SubCountry: SubCountry
                AgencyCode: AgencyCode
                Name:
                - Name
                - Name
              InvoicedQuantity:
                MeasureUnitCode: MeasureUnitCode
                QuantityValue: QuantityValue
              TaxDetails:
                TaxAmount:
                  AmountValue: AmountValue
                TaxTypeCode: TaxTypeCode
                TaxCategoryCode: TaxCategoryCode
                TaxRate: TaxRate
              ArticleCharacteristics:
                URL5: URL5
                ThreePMSFMark: ThreePMSFMark
                RollingResistance: RollingResistance
                WetGrip: WetGrip
                IceGripPICT: IceGripPICT
                EUDirectiveNumber: EUDirectiveNumber
                NoiseClassType: NoiseClassType
                NoisePerformance: NoisePerformance
                VehicleClass: VehicleClass
              LineNote:
                LanguageCode: LanguageCode
                Note:
                - Note
                - Note
            OrderingMethod: OrderingMethod
          eInvoicingID:
          - eInvoicingIDQualifier: eInvoicingIDQualifier
            ID: ID
          - eInvoicingIDQualifier: eInvoicingIDQualifier
            ID: ID
          BuyerParty:
            TaxRegistrationID: TaxRegistrationID
            VATRegistrationID: VATRegistrationID
            PartyID: PartyID
            Address:
              Street:
              - Street
              - Street
              City: City
              PostCode: PostCode
              CountryCode: CountryCode
              District: District
              PostBoxCode: PostBoxCode
              SubCountry: SubCountry
            AgencyCode: AgencyCode
            Name:
            - Name
            - Name
          GoodsServiceIDCode: GoodsServiceIDCode
          IssueDate: IssueDate
          PaymentTerms:
          - PaymentNet:
            - InstalmentAmount:
                CurrencyCode: CurrencyCode
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
            - InstalmentAmount:
                CurrencyCode: CurrencyCode
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
            PaymentDiscount:
            - FinancialDiscount:
                TextLine: TextLine
              DiscountPercent: 6
              DiscountAmount:
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
            - FinancialDiscount:
                TextLine: TextLine
              DiscountPercent: 6
              DiscountAmount:
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
          - PaymentNet:
            - InstalmentAmount:
                CurrencyCode: CurrencyCode
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
            - InstalmentAmount:
                CurrencyCode: CurrencyCode
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
            PaymentDiscount:
            - FinancialDiscount:
                TextLine: TextLine
              DiscountPercent: 6
              DiscountAmount:
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
            - FinancialDiscount:
                TextLine: TextLine
              DiscountPercent: 6
              DiscountAmount:
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
          DocumentNumber: DocumentNumber
          Attachments:
          - EncodingScheme: EncodingScheme
            Data: Data
            DocumentNumber: DocumentNumber
            MimeType: MimeType
          - EncodingScheme: EncodingScheme
            Data: Data
            DocumentNumber: DocumentNumber
            MimeType: MimeType
          DocumentFunctionCode: DocumentFunctionCode
          InvoiceeParty:
            TaxRegistrationID: TaxRegistrationID
            VATRegistrationID: VATRegistrationID
            PartyID: PartyID
            Address:
              Street:
              - Street
              - Street
              City: City
              PostCode: PostCode
              CountryCode: CountryCode
              District: District
              PostBoxCode: PostBoxCode
              SubCountry: SubCountry
            AgencyCode: AgencyCode
            Name:
            - Name
            - Name
          Consignee:
            PartyID: PartyID
            Address:
              Street:
              - Street
              - Street
              City: City
              PostCode: PostCode
              CountryCode: CountryCode
              District: District
              PostBoxCode: PostBoxCode
              SubCountry: SubCountry
            AgencyCode: AgencyCode
            Name:
            - Name
            - Name
          DocumentCurrency: DocumentCurrency
          HeaderNote:
            LanguageCode: LanguageCode
            Note:
            - Note
            - Note
          EnvironmentRegisterID: EnvironmentRegisterID
          References:
            BuyerOrderReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            AssociatedExternalnvoiceReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            ReturnDeliveryNoticeReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            SEPACreditorReference:
              DocumentID: DocumentID
            CustomerClaimNumber:
              LineID: LineID
              DocumentID: DocumentID
              IssueDate: IssueDate
            DeliveryNoteReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
              CompletionDate: CompletionDate
            FleetReference:
            - DocumentID: DocumentID
              ReferenceTypeCode: ReferenceTypeCode
            - DocumentID: DocumentID
              ReferenceTypeCode: ReferenceTypeCode
            WarrantyNumber:
              LineID: LineID
              DocumentID: DocumentID
              IssueDate: IssueDate
            ExternalnvoiceReference:
              DocumentID: DocumentID
            CustomerReference:
              DocumentID: DocumentID
            SellerReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            BlanketOrderReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            SuppliersOrderReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            AssociatedInvoiceReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            DeliveryListReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            SupplierClaimNumber:
              LineID: LineID
              DocumentID: DocumentID
              IssueDate: IssueDate
          DocumentFunctionText: DocumentFunctionText
          SellerParty:
            LegalName: LegalName
            Address:
              Street:
              - Street
              - Street
              City: City
              PostCode: PostCode
              CountryCode: CountryCode
              District: District
              PostBoxCode: PostBoxCode
              SubCountry: SubCountry
            InformationContact:
              FaxNumber: FaxNumber
              ContactID: ContactID
              TelephoneNumber: TelephoneNumber
              EmailAddress: EmailAddress
              Name: Name
              TelephoneExtension: TelephoneExtension
            TribunalRegistrationNumber: TribunalRegistrationNumber
            Name:
            - Name
            - Name
            TaxRegistrationID: TaxRegistrationID
            CompanyRegisteredCapital: CompanyRegisteredCapital
            VATRegistrationID: VATRegistrationID
            SupplierParty:
              PartyID: PartyID
              AgencyCode: AgencyCode
              ShippingLocation:
                LocationName: LocationName
              TelephoneExtension: TelephoneExtension
            PartyID: PartyID
            AgencyCode: AgencyCode
            SIRENNumber: SIRENNumber
            CompanyLegalForm: CompanyLegalForm
          DocumentTypeCode: DocumentTypeCode
          Controls:
            TotalQuantityValues: 5
            NumberOfLineItems: 1
          Summary:
            TaxAmount:
              AmountValue: AmountValue
            TaxDetails:
            - TaxAmount:
                AmountValue: AmountValue
              VATExemptionClause: VATExemptionClause
              TaxableAmount:
                AmountValue: AmountValue
              TaxTypeCode: TaxTypeCode
              TaxCategoryCode: TaxCategoryCode
              TaxRate: TaxRate
              GeneralDiscountClause: GeneralDiscountClause
            - TaxAmount:
                AmountValue: AmountValue
              VATExemptionClause: VATExemptionClause
              TaxableAmount:
                AmountValue: AmountValue
              TaxTypeCode: TaxTypeCode
              TaxCategoryCode: TaxCategoryCode
              TaxRate: TaxRate
              GeneralDiscountClause: GeneralDiscountClause
            TotalLineItemsAmount:
              AmountValue: AmountValue
            TaxableAmount:
              AmountValue: AmountValue
            AllowanceOrCharge:
            - TaxDetails:
                TaxTypeCode: TaxTypeCode
                TaxCategoryCode: TaxCategoryCode
                TaxRate: TaxRate
              OtherChargeTypeCode: OtherChargeTypeCode
              AllowanceOrChargeAmount:
                AmountValue: AmountValue
              AgencyCode: AgencyCode
              AllowanceOrChargeTypeCode: AllowanceOrChargeTypeCode
            - TaxDetails:
                TaxTypeCode: TaxTypeCode
                TaxCategoryCode: TaxCategoryCode
                TaxRate: TaxRate
              OtherChargeTypeCode: OtherChargeTypeCode
              AllowanceOrChargeAmount:
                AmountValue: AmountValue
              AgencyCode: AgencyCode
              AllowanceOrChargeTypeCode: AllowanceOrChargeTypeCode
            TotalChargeAmount:
              AmountValue: AmountValue
            TotalAmount:
              AmountValue: AmountValue
          GoodsServiceIndication: GoodsServiceIndication
          PaymentInstructions:
            PartyFunctionCodeQualifier: PartyFunctionCodeQualifier
            InstitutionIdentification:
              InstitutionName: InstitutionName
              InstitutionBranchPlace: InstitutionBranchPlace
              CodeListResponsibleAgencyCode: CodeListResponsibleAgencyCode
              InstitutionNameCode: InstitutionNameCode
            AccountHolderIdentification:
              CurrentIdentificationCode: CurrentIdentificationCode
              AccountHolderName: AccountHolderName
              AccountHolderIdentifier: AccountHolderIdentifier
          InvoiceIssuerParty:
            TaxRegistrationID: TaxRegistrationID
            CompanyRegisteredCapital: CompanyRegisteredCapital
            VATRegistrationID: VATRegistrationID
            LegalName: LegalName
            PartyID: PartyID
            Address:
              Street: Street
              City:
              - City
              - City
              PostCode: PostCode
              CountryCode: CountryCode
              District: District
              PostBoxCode: PostBoxCode
              SubCountry: SubCountry
            TribunalRegistrationNumber: TribunalRegistrationNumber
            AgencyCode: AgencyCode
            SIRENNumber: SIRENNumber
            Name:
            - Name
            - Name
            CompanyLegalForm: CompanyLegalForm
        - LineLevel:
          - LineID: LineID
            References:
              BuyerOrderReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              ReturnDeliveryNoticeReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              CustomerClaimNumber:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              DeliveryNoteReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
                CompletionDate: CompletionDate
              FleetReference:
              - DocumentID: DocumentID
                ReferenceTypeCode: ReferenceTypeCode
              - DocumentID: DocumentID
                ReferenceTypeCode: ReferenceTypeCode
              ReturnSalesOrderNoteReference:
                DocumentID: DocumentID
              WarrantyNumber:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              CustomerReference:
                LineID: LineID
                DocumentID: DocumentID
              SellerReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              BlanketOrderReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              CustomsDeclarationNumber:
              - DocumentID: DocumentID
              - DocumentID: DocumentID
              SuppliersOrderReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              AssociatedInvoiceReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              DeliveryListReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              SupplierClaimNumber:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
            LineItemNetAmount:
              AmountValue: AmountValue
            Article:
              PriceDetails:
                NetUnitPrice:
                  PriceAmount: PriceAmount
                GrossUnitPrice:
                  PriceAmount: PriceAmount
                FixedPrice:
                  PriceAmount: PriceAmount
              ArticleDescription:
              - ArticleDescriptionText: ArticleDescriptionText
              - ArticleDescriptionText: ArticleDescriptionText
              LineItemTotalAmount:
                AmountValue: AmountValue
              ArticleIdentification:
                BuyersArticleID: BuyersArticleID
                EANUCCArticleID: EANUCCArticleID
                SuppliersArticleID: SuppliersArticleID
              OrderingParty:
                PartyID: PartyID
                AgencyCode: AgencyCode
              AllowanceOrCharge:
              - TaxDetails:
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                OtherChargeTypeCode: OtherChargeTypeCode
                AllowanceOrChargeAmount:
                  AmountValue: AmountValue
                AllowanceOrChargePercent: AllowanceOrChargePercent
                AgencyCode: AgencyCode
                AllowanceOrChargeNumber: AllowanceOrChargeNumber
                AllowanceOrChargeTypeCode: AllowanceOrChargeTypeCode
                AllowanceOrChargeName: AllowanceOrChargeName
              - TaxDetails:
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                OtherChargeTypeCode: OtherChargeTypeCode
                AllowanceOrChargeAmount:
                  AmountValue: AmountValue
                AllowanceOrChargePercent: AllowanceOrChargePercent
                AgencyCode: AgencyCode
                AllowanceOrChargeNumber: AllowanceOrChargeNumber
                AllowanceOrChargeTypeCode: AllowanceOrChargeTypeCode
                AllowanceOrChargeName: AllowanceOrChargeName
              CountryOfOrigin: CountryOfOrigin
              TracingInformation:
              - SerialNumber: SerialNumber
                TracingID: TracingID
              - SerialNumber: SerialNumber
                TracingID: TracingID
              Consignee:
                PartyID: PartyID
                Address:
                  Street:
                  - Street
                  - Street
                  City: City
                  PostCode: PostCode
                  CountryCode: CountryCode
                  District: District
                  PostBoxCode: PostBoxCode
                  SubCountry: SubCountry
                AgencyCode: AgencyCode
                Name:
                - Name
                - Name
              InvoicedQuantity:
                MeasureUnitCode: MeasureUnitCode
                QuantityValue: QuantityValue
              TaxDetails:
                TaxAmount:
                  AmountValue: AmountValue
                TaxTypeCode: TaxTypeCode
                TaxCategoryCode: TaxCategoryCode
                TaxRate: TaxRate
              ArticleCharacteristics:
                URL5: URL5
                ThreePMSFMark: ThreePMSFMark
                RollingResistance: RollingResistance
                WetGrip: WetGrip
                IceGripPICT: IceGripPICT
                EUDirectiveNumber: EUDirectiveNumber
                NoiseClassType: NoiseClassType
                NoisePerformance: NoisePerformance
                VehicleClass: VehicleClass
              LineNote:
                LanguageCode: LanguageCode
                Note:
                - Note
                - Note
            OrderingMethod: OrderingMethod
          - LineID: LineID
            References:
              BuyerOrderReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              ReturnDeliveryNoticeReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              CustomerClaimNumber:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              DeliveryNoteReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
                CompletionDate: CompletionDate
              FleetReference:
              - DocumentID: DocumentID
                ReferenceTypeCode: ReferenceTypeCode
              - DocumentID: DocumentID
                ReferenceTypeCode: ReferenceTypeCode
              ReturnSalesOrderNoteReference:
                DocumentID: DocumentID
              WarrantyNumber:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              CustomerReference:
                LineID: LineID
                DocumentID: DocumentID
              SellerReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              BlanketOrderReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              CustomsDeclarationNumber:
              - DocumentID: DocumentID
              - DocumentID: DocumentID
              SuppliersOrderReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              AssociatedInvoiceReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              DeliveryListReference:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
              SupplierClaimNumber:
                LineID: LineID
                DocumentID: DocumentID
                IssueDate: IssueDate
            LineItemNetAmount:
              AmountValue: AmountValue
            Article:
              PriceDetails:
                NetUnitPrice:
                  PriceAmount: PriceAmount
                GrossUnitPrice:
                  PriceAmount: PriceAmount
                FixedPrice:
                  PriceAmount: PriceAmount
              ArticleDescription:
              - ArticleDescriptionText: ArticleDescriptionText
              - ArticleDescriptionText: ArticleDescriptionText
              LineItemTotalAmount:
                AmountValue: AmountValue
              ArticleIdentification:
                BuyersArticleID: BuyersArticleID
                EANUCCArticleID: EANUCCArticleID
                SuppliersArticleID: SuppliersArticleID
              OrderingParty:
                PartyID: PartyID
                AgencyCode: AgencyCode
              AllowanceOrCharge:
              - TaxDetails:
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                OtherChargeTypeCode: OtherChargeTypeCode
                AllowanceOrChargeAmount:
                  AmountValue: AmountValue
                AllowanceOrChargePercent: AllowanceOrChargePercent
                AgencyCode: AgencyCode
                AllowanceOrChargeNumber: AllowanceOrChargeNumber
                AllowanceOrChargeTypeCode: AllowanceOrChargeTypeCode
                AllowanceOrChargeName: AllowanceOrChargeName
              - TaxDetails:
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                - TaxTypeCode: TaxTypeCode
                  TaxCategoryCode: TaxCategoryCode
                  TaxRate: TaxRate
                OtherChargeTypeCode: OtherChargeTypeCode
                AllowanceOrChargeAmount:
                  AmountValue: AmountValue
                AllowanceOrChargePercent: AllowanceOrChargePercent
                AgencyCode: AgencyCode
                AllowanceOrChargeNumber: AllowanceOrChargeNumber
                AllowanceOrChargeTypeCode: AllowanceOrChargeTypeCode
                AllowanceOrChargeName: AllowanceOrChargeName
              CountryOfOrigin: CountryOfOrigin
              TracingInformation:
              - SerialNumber: SerialNumber
                TracingID: TracingID
              - SerialNumber: SerialNumber
                TracingID: TracingID
              Consignee:
                PartyID: PartyID
                Address:
                  Street:
                  - Street
                  - Street
                  City: City
                  PostCode: PostCode
                  CountryCode: CountryCode
                  District: District
                  PostBoxCode: PostBoxCode
                  SubCountry: SubCountry
                AgencyCode: AgencyCode
                Name:
                - Name
                - Name
              InvoicedQuantity:
                MeasureUnitCode: MeasureUnitCode
                QuantityValue: QuantityValue
              TaxDetails:
                TaxAmount:
                  AmountValue: AmountValue
                TaxTypeCode: TaxTypeCode
                TaxCategoryCode: TaxCategoryCode
                TaxRate: TaxRate
              ArticleCharacteristics:
                URL5: URL5
                ThreePMSFMark: ThreePMSFMark
                RollingResistance: RollingResistance
                WetGrip: WetGrip
                IceGripPICT: IceGripPICT
                EUDirectiveNumber: EUDirectiveNumber
                NoiseClassType: NoiseClassType
                NoisePerformance: NoisePerformance
                VehicleClass: VehicleClass
              LineNote:
                LanguageCode: LanguageCode
                Note:
                - Note
                - Note
            OrderingMethod: OrderingMethod
          eInvoicingID:
          - eInvoicingIDQualifier: eInvoicingIDQualifier
            ID: ID
          - eInvoicingIDQualifier: eInvoicingIDQualifier
            ID: ID
          BuyerParty:
            TaxRegistrationID: TaxRegistrationID
            VATRegistrationID: VATRegistrationID
            PartyID: PartyID
            Address:
              Street:
              - Street
              - Street
              City: City
              PostCode: PostCode
              CountryCode: CountryCode
              District: District
              PostBoxCode: PostBoxCode
              SubCountry: SubCountry
            AgencyCode: AgencyCode
            Name:
            - Name
            - Name
          GoodsServiceIDCode: GoodsServiceIDCode
          IssueDate: IssueDate
          PaymentTerms:
          - PaymentNet:
            - InstalmentAmount:
                CurrencyCode: CurrencyCode
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
            - InstalmentAmount:
                CurrencyCode: CurrencyCode
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
            PaymentDiscount:
            - FinancialDiscount:
                TextLine: TextLine
              DiscountPercent: 6
              DiscountAmount:
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
            - FinancialDiscount:
                TextLine: TextLine
              DiscountPercent: 6
              DiscountAmount:
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
          - PaymentNet:
            - InstalmentAmount:
                CurrencyCode: CurrencyCode
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
            - InstalmentAmount:
                CurrencyCode: CurrencyCode
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
            PaymentDiscount:
            - FinancialDiscount:
                TextLine: TextLine
              DiscountPercent: 6
              DiscountAmount:
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
            - FinancialDiscount:
                TextLine: TextLine
              DiscountPercent: 6
              DiscountAmount:
                AmountValue: AmountValue
              PaymentDueDate: PaymentDueDate
          DocumentNumber: DocumentNumber
          Attachments:
          - EncodingScheme: EncodingScheme
            Data: Data
            DocumentNumber: DocumentNumber
            MimeType: MimeType
          - EncodingScheme: EncodingScheme
            Data: Data
            DocumentNumber: DocumentNumber
            MimeType: MimeType
          DocumentFunctionCode: DocumentFunctionCode
          InvoiceeParty:
            TaxRegistrationID: TaxRegistrationID
            VATRegistrationID: VATRegistrationID
            PartyID: PartyID
            Address:
              Street:
              - Street
              - Street
              City: City
              PostCode: PostCode
              CountryCode: CountryCode
              District: District
              PostBoxCode: PostBoxCode
              SubCountry: SubCountry
            AgencyCode: AgencyCode
            Name:
            - Name
            - Name
          Consignee:
            PartyID: PartyID
            Address:
              Street:
              - Street
              - Street
              City: City
              PostCode: PostCode
              CountryCode: CountryCode
              District: District
              PostBoxCode: PostBoxCode
              SubCountry: SubCountry
            AgencyCode: AgencyCode
            Name:
            - Name
            - Name
          DocumentCurrency: DocumentCurrency
          HeaderNote:
            LanguageCode: LanguageCode
            Note:
            - Note
            - Note
          EnvironmentRegisterID: EnvironmentRegisterID
          References:
            BuyerOrderReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            AssociatedExternalnvoiceReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            ReturnDeliveryNoticeReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            SEPACreditorReference:
              DocumentID: DocumentID
            CustomerClaimNumber:
              LineID: LineID
              DocumentID: DocumentID
              IssueDate: IssueDate
            DeliveryNoteReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
              CompletionDate: CompletionDate
            FleetReference:
            - DocumentID: DocumentID
              ReferenceTypeCode: ReferenceTypeCode
            - DocumentID: DocumentID
              ReferenceTypeCode: ReferenceTypeCode
            WarrantyNumber:
              LineID: LineID
              DocumentID: DocumentID
              IssueDate: IssueDate
            ExternalnvoiceReference:
              DocumentID: DocumentID
            CustomerReference:
              DocumentID: DocumentID
            SellerReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            BlanketOrderReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            SuppliersOrderReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            AssociatedInvoiceReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            DeliveryListReference:
              DocumentID: DocumentID
              IssueDate: IssueDate
            SupplierClaimNumber:
              LineID: LineID
              DocumentID: DocumentID
              IssueDate: IssueDate
          DocumentFunctionText: DocumentFunctionText
          SellerParty:
            LegalName: LegalName
            Address:
              Street:
              - Street
              - Street
              City: City
              PostCode: PostCode
              CountryCode: CountryCode
              District: District
              PostBoxCode: PostBoxCode
              SubCountry: SubCountry
            InformationContact:
              FaxNumber: FaxNumber
              ContactID: ContactID
              TelephoneNumber: TelephoneNumber
              EmailAddress: EmailAddress
              Name: Name
              TelephoneExtension: TelephoneExtension
            TribunalRegistrationNumber: TribunalRegistrationNumber
            Name:
            - Name
            - Name
            TaxRegistrationID: TaxRegistrationID
            CompanyRegisteredCapital: CompanyRegisteredCapital
            VATRegistrationID: VATRegistrationID
            SupplierParty:
              PartyID: PartyID
              AgencyCode: AgencyCode
              ShippingLocation:
                LocationName: LocationName
              TelephoneExtension: TelephoneExtension
            PartyID: PartyID
            AgencyCode: AgencyCode
            SIRENNumber: SIRENNumber
            CompanyLegalForm: CompanyLegalForm
          DocumentTypeCode: DocumentTypeCode
          Controls:
            TotalQuantityValues: 5
            NumberOfLineItems: 1
          Summary:
            TaxAmount:
              AmountValue: AmountValue
            TaxDetails:
            - TaxAmount:
                AmountValue: AmountValue
              VATExemptionClause: VATExemptionClause
              TaxableAmount:
                AmountValue: AmountValue
              TaxTypeCode: TaxTypeCode
              TaxCategoryCode: TaxCategoryCode
              TaxRate: TaxRate
              GeneralDiscountClause: GeneralDiscountClause
            - TaxAmount:
                AmountValue: AmountValue
              VATExemptionClause: VATExemptionClause
              TaxableAmount:
                AmountValue: AmountValue
              TaxTypeCode: TaxTypeCode
              TaxCategoryCode: TaxCategoryCode
              TaxRate: TaxRate
              GeneralDiscountClause: GeneralDiscountClause
            TotalLineItemsAmount:
              AmountValue: AmountValue
            TaxableAmount:
              AmountValue: AmountValue
            AllowanceOrCharge:
            - TaxDetails:
                TaxTypeCode: TaxTypeCode
                TaxCategoryCode: TaxCategoryCode
                TaxRate: TaxRate
              OtherChargeTypeCode: OtherChargeTypeCode
              AllowanceOrChargeAmount:
                AmountValue: AmountValue
              AgencyCode: AgencyCode
              AllowanceOrChargeTypeCode: AllowanceOrChargeTypeCode
            - TaxDetails:
                TaxTypeCode: TaxTypeCode
                TaxCategoryCode: TaxCategoryCode
                TaxRate: TaxRate
              OtherChargeTypeCode: OtherChargeTypeCode
              AllowanceOrChargeAmount:
                AmountValue: AmountValue
              AgencyCode: AgencyCode
              AllowanceOrChargeTypeCode: AllowanceOrChargeTypeCode
            TotalChargeAmount:
              AmountValue: AmountValue
            TotalAmount:
              AmountValue: AmountValue
          GoodsServiceIndication: GoodsServiceIndication
          PaymentInstructions:
            PartyFunctionCodeQualifier: PartyFunctionCodeQualifier
            InstitutionIdentification:
              InstitutionName: InstitutionName
              InstitutionBranchPlace: InstitutionBranchPlace
              CodeListResponsibleAgencyCode: CodeListResponsibleAgencyCode
              InstitutionNameCode: InstitutionNameCode
            AccountHolderIdentification:
              CurrentIdentificationCode: CurrentIdentificationCode
              AccountHolderName: AccountHolderName
              AccountHolderIdentifier: AccountHolderIdentifier
          InvoiceIssuerParty:
            TaxRegistrationID: TaxRegistrationID
            CompanyRegisteredCapital: CompanyRegisteredCapital
            VATRegistrationID: VATRegistrationID
            LegalName: LegalName
            PartyID: PartyID
            Address:
              Street: Street
              City:
              - City
              - City
              PostCode: PostCode
              CountryCode: CountryCode
              District: District
              PostBoxCode: PostBoxCode
              SubCountry: SubCountry
            TribunalRegistrationNumber: TribunalRegistrationNumber
            AgencyCode: AgencyCode
            SIRENNumber: SIRENNumber
            Name:
            - Name
            - Name
            CompanyLegalForm: CompanyLegalForm
      properties:
        DocumentID:
          type: string
        Variant:
          type: string
        NumberOfMessages:
          type: integer
        ErrorHead:
          $ref: '#/components/schemas/EDIWheel_B4_4_InvoiceListResponse_ErrorHead'
        invoice:
          items:
            $ref: '#/components/schemas/EDIWheel_B4_4_InvoiceListResponse_invoice_inner'
          type: array
      required:
      - DocumentID
      - NumberOfMessages
      - Variant
      - invoice
      type: object
    EDIWheel-C1_1-StockInquiryRequest:
      additionalProperties: false
      properties:
        variant:
          example: "1"
          type: string
        orderLine:
          items:
            $ref: '#/components/schemas/EDIWheel-C1_1-StockInquiryRequestOrderLine'
          type: array
        documentID:
          example: C1
          type: string
        customerReference:
          $ref: '#/components/schemas/EDIWheel_C1_1_StockInquiryRequest_customerReference'
        consignee:
          $ref: '#/components/schemas/EDIWheel_C1_1_StockInquiryRequest_consignee'
        buyerParty:
          $ref: '#/components/schemas/EDIWheel_C1_1_StockInquiryRequest_buyerParty'
      required:
      - buyerParty
      - consignee
      - documentID
      - orderLine
      - variant
      type: object
    EDIWheel-C1_1-StockInquiryRequestOrderLine:
      additionalProperties: false
      properties:
        lineID:
          example: "001"
          type: string
        orderedArticle:
          $ref: '#/components/schemas/EDIWheel-C1_1-StockInquiryRequestOrderedArticle'
      required:
      - lineID
      - orderedArticle
      type: object
    EDIWheel-C1_1-StockInquiryRequestOrderedArticle:
      additionalProperties: false
      properties:
        requestedQuantity:
          $ref: '#/components/schemas/EDIWheel-C1_1-StockInquiryRequestRequestedQuantity'
        requestedDeliveryTime:
          example: 23:59:59-04:00
          nullable: true
          type: string
        requestedDeliveryDate:
          example: 2024-12-31
          type: string
        articleIdentification:
          $ref: '#/components/schemas/EDIWheel-C1_1-StockInquiryRequestArticleIdentification'
      required:
      - requestedDeliveryDate
      - requestedQuantity
      type: object
    EDIWheel-C1_1-StockInquiryRequestRequestedQuantity:
      additionalProperties: false
      properties:
        quantityValue:
          example: "4"
          type: string
      required:
      - quantityValue
      type: object
    EDIWheel-C1_1-StockInquiryRequestArticleIdentification:
      additionalProperties: false
      properties:
        manufacturersArticleID:
          example: "92638"
          type: string
        buyersArticleID:
          example: "1125595"
          type: string
      type: object
    EDIWheel-C1_1-StockInquiryResponse:
      additionalProperties: false
      example:
        consignee:
          agencyCode: agencyCode
          partyID: partyID
        errorHead:
          errorCode: errorCode
        buyerParty:
          agencyCode: agencyCode
          partyID: partyID
        orderLine:
        - orderedArticle:
            requestedDeliveryTime: requestedDeliveryTime
            articleDescription:
              articleDescriptionText: articleDescriptionText
            requestedDeliveryDate: requestedDeliveryDate
            requestedQuantity:
              quantityValue: quantityValue
            articleIdentification:
              buyersArticleID: buyersArticleID
              manufacturersArticleID: manufacturersArticleID
              eanuccArticleID: eanuccArticleID
            availability: availability
            error:
              errorText: errorText
              errorCode: errorCode
            scheduleDetails:
            - availableQuantity:
                quantityValue: 0
              charge:
              - chargeCategory: chargeCategory
                chargeAmount:
                  amountValue: amountValue
              - chargeCategory: chargeCategory
                chargeAmount:
                  amountValue: amountValue
              supplierParty:
                address:
                  subCountry: subCountry
                  city: city
                  street:
                  - street
                  - street
                  countryCode: countryCode
                  postCode: postCode
                name:
                - name
                - name
                agencyCode: agencyCode
                informationContact:
                  name:
                  - name
                  - name
                partyID: partyID
              deliveryTime: deliveryTime
              orderByTime: orderByTime
              priceDetails:
                netUnitPrice:
                  priceAmount: 6.027456183070403
              pickUp: pickUp
              transportPriority: transportPriority
              deliveryDate: deliveryDate
              orderByDate: orderByDate
            - availableQuantity:
                quantityValue: 0
              charge:
              - chargeCategory: chargeCategory
                chargeAmount:
                  amountValue: amountValue
              - chargeCategory: chargeCategory
                chargeAmount:
                  amountValue: amountValue
              supplierParty:
                address:
                  subCountry: subCountry
                  city: city
                  street:
                  - street
                  - street
                  countryCode: countryCode
                  postCode: postCode
                name:
                - name
                - name
                agencyCode: agencyCode
                informationContact:
                  name:
                  - name
                  - name
                partyID: partyID
              deliveryTime: deliveryTime
              orderByTime: orderByTime
              priceDetails:
                netUnitPrice:
                  priceAmount: 6.027456183070403
              pickUp: pickUp
              transportPriority: transportPriority
              deliveryDate: deliveryDate
              orderByDate: orderByDate
          lineID: lineID
        - orderedArticle:
            requestedDeliveryTime: requestedDeliveryTime
            articleDescription:
              articleDescriptionText: articleDescriptionText
            requestedDeliveryDate: requestedDeliveryDate
            requestedQuantity:
              quantityValue: quantityValue
            articleIdentification:
              buyersArticleID: buyersArticleID
              manufacturersArticleID: manufacturersArticleID
              eanuccArticleID: eanuccArticleID
            availability: availability
            error:
              errorText: errorText
              errorCode: errorCode
            scheduleDetails:
            - availableQuantity:
                quantityValue: 0
              charge:
              - chargeCategory: chargeCategory
                chargeAmount:
[...]
