openapi: 3.0.3
info:
  contact:
    name: Michelin Customer Integration Team
  description: "These APIs will help you to do business transactions with Michelin.\
    \ \n<br><br><b>Authentication details:</b><br>\n<br><u>Option A:</u> OAuth2 Client\
    \ Credentials (recommended)\n<br><u>Option B:</u> API Key + Basic Authentication\
    \ (not recommended)\n<br><br>To request your access, please contact your representative.\n\
    <br><br>Our services are based on the EDIWHEEL standards.\n<br>You can find more\
    \ information on the <a href=\"https://www.ediwheel.com/\" target=\"_blank\">EDIWHEEL\
    \ website</a>.\n"
  title: Michelin North America Order-to-Cash APIs
  version: 1.0.1
servers:
- description: Test server
  url: https://indus.api.michelin.com/
- description: Production server
  url: https://api.michelin.com/
tags:
- description: Obtain a token to consume the other APIs
  name: Authentication
- description: Inventory Inquiry
  name: Inventory
- description: "Order Creation, Order Status"
  name: Order
- description: Advance Shipping Notice
  name: ASN
- description: Invoices
  name: Invoice
paths:
  /idp/v2/b2b/oauth2/token:
    post:
      description: This API will give you a valid authorization token to consume the
        other APIs.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthenticationTokenRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationTokenResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          description: Bad Request
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      summary: Obtain a token to consume the other APIs.
      tags:
      - Authentication
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /stock/amn/C1_1/inquiry:
    post:
      description: Query inventory in real-time
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EDIWheel-C1_1-StockInquiryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EDIWheel-C1_1-StockInquiryResponse'
          description: Inquiry Quoted
        "400":
          content:
            application/json:
              schema:
                example: "{}"
                type: string
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                example: "{}"
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example: "{}"
                type: string
          description: Forbidden
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "408":
          content:
            '*/*':
              schema:
                type: string
          description: Request Timeout
        "415":
          content:
            '*/*':
              schema:
                type: string
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              schema:
                example: "{}"
                type: string
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                example: "{}"
                type: string
          description: Internal Server Error
      security:
      - basicAuth: []
        apikey: []
      - oAuth2ClientCredentials: []
      summary: Query inventory in real-time
      tags:
      - Inventory
      x-content-type: application/json
      x-accepts:
      - '*/*'
      - application/json
  /order/amn/C1_1/status:
    post:
      description: Query order status in real-time
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EDIWheel-C1_1-OrderStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EDIWheel-C1_1-OrderStatusResponse'
          description: Order status query responsed
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - basicAuth: []
        apikey: []
      - oAuth2ClientCredentials: []
      summary: Query order status in real-time
      tags:
      - Order
      x-content-type: application/json
      x-accepts:
      - application/json
  /order/amn/C1_1/create:
    post:
      description: Create order in real-time
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EDIWheel-C1_1-OrderCreationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EDIWheel-C1_1-OrderCreationResponse'
          description: Order Created
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - basicAuth: []
        apikey: []
      - oAuth2ClientCredentials: []
      summary: Create order in real-time
      tags:
      - Order
      x-content-type: application/json
      x-accepts:
      - application/json
  /desadv/amn/C1_0/desadv:
    post:
      description: Get Advanced Shipping Notice
      requestBody:
        content:
          application/json:
            examples:
              Search By Date Range:
                value:
                  documentID: C1
                  variant: "0"
                  despatchFromDate: 2025-01-01
                  despatchToDate: 2025-01-03
                  buyerParty:
                    partyID: "1111111"
                    agencyCode: "91"
              Search By Date Range and Shipto:
                value:
                  documentID: C1
                  variant: "0"
                  despatchFromDate: 2025-01-01
                  despatchToDate: 2025-01-03
                  buyerParty:
                    partyID: "1111111"
                    agencyCode: "91"
                  consignee:
                    partyID: "1234567"
                    agencyCode: "91"
              Search By Document ID:
                value:
                  documentID: C1
                  variant: "0"
                  buyerParty:
                    partyID: "1111111"
                    agencyCode: "91"
                  References:
                    ReferenceTypeCode: DQ
                    DocumentID: PO12345
            schema:
              $ref: '#/components/schemas/EDIWheel-C1_0-DesadvRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EDIWheel-C1_0-DesadvResponse'
          description: Delivery query responsed
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - basicAuth: []
        apikey: []
      - oAuth2ClientCredentials: []
      summary: Get Advanced Shipping Notice
      tags:
      - ASN
      x-content-type: application/json
      x-accepts:
      - application/json
  /invoice/amn/B3_4/invoices:
    post:
      description: Retrieve invoice and download its PDF format
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EDIWheel-B3_4-InvoiceListRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EDIWheel-B3_4-InvoiceListResponse'
          description: Invoices list responsed
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - basicAuth: []
        apikey: []
      - oAuth2ClientCredentials: []
      summary: Retrieve invoice and download its PDF format
      tags:
      - Invoice
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    skipParam:
      description: number of items to skip
      explode: true
      in: query
      name: skip
      required: true
      schema:
        format: int32
        type: integer
      style: form
    limitParam:
      description: max records to return
      explode: true
      in: query
      name: limit
      required: true
      schema:
        format: int32
        type: integer
      style: form
  responses:
    NotFound:
      description: Entity not found.
    IllegalInput:
      description: Illegal input for operation.
    GeneralError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GeneralError'
      description: General Error
    UnauthorizedError:
      description: Authentication information is missing or invalid
      headers:
        WWW_Authenticate:
          explode: false
          schema:
            type: string
          style: simple
  schemas:
    EDIWheel-C1_0-DesadvRequest:
      properties:
        documentID:
          description: Fixed documentID = C1
          example: C1
          type: string
        variant:
          description: Fixed variant = 0
          example: "0"
          type: string
        despatchFromDate:
          description: From Date value for Date Range searches. Format YYYY-MM-DD.
            Date range cannot be used in conjunction with other reference(s) as selection
            criteria. Max date range within single search = 5 days. Date range OR
            Reference value required for searches.
          example: 2025-01-01
          type: string
        despatchToDate:
          description: To Date value for Date Range searches. Format YYYY-MM-DD. Date
            range cannot be used in conjunction with other reference(s) as selection
            criteria. Max date range within single search = 5 days. Date range OR
            Reference value required for searches.
          example: 2025-01-05
          type: string
        references:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_references'
        buyerParty:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_buyerParty'
        consignee:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvRequest_consignee'
      required:
      - buyerParty
      - documentID
      - variant
      type: object
    EDIWheel-C1_0-DesadvResponse:
      example:
        errorHead:
          errorCode: "0"
        desadv:
        - consignee:
            address:
              city: ANYTOWN
              street:
              - 456 MAIN ST
              - SUITE 100
              - null
              countryCode: US
              district: SC
              postCode: 12345-6789
            name:
            - ACME TIRE - MAIN ST LOCATION
            agencyCode: "91"
            partyID: "1234567"
          references:
          - referenceTypeCode: DQ
            documentID: BOL123456
          - referenceTypeCode: DQ
            documentID: BOL123456
          documentNumber: BOL123456
          arrivalDate: 2025-01-18
          lineLevel:
          - references:
            - referenceTypeCode: BM
              lineID: "1"
              documentID: BOL123456
            - referenceTypeCode: BM
              lineID: "1"
              documentID: BOL123456
            orderedArticle:
              despatchedQuantity:
                measureUnitCode: PCE
                quantityValue: 4
              articleDescription:
                articleDescriptionText:
                - 265/70R17 115TDFNDRLTXMSORLMTP
              tracingInformation:
              - tracingID: 1Z999AA10123456784
              - tracingID: 1Z999AA10123456784
              articleIdentification:
                buyersArticleID: "321"
                manufacturersArticleID: "62115"
              deliveryOption: []
            lineID: "1"
          - references:
            - referenceTypeCode: BM
              lineID: "1"
              documentID: BOL123456
            - referenceTypeCode: BM
              lineID: "1"
              documentID: BOL123456
            orderedArticle:
              despatchedQuantity:
                measureUnitCode: PCE
                quantityValue: 4
              articleDescription:
                articleDescriptionText:
                - 265/70R17 115TDFNDRLTXMSORLMTP
              tracingInformation:
              - tracingID: 1Z999AA10123456784
              - tracingID: 1Z999AA10123456784
              articleIdentification:
                buyersArticleID: "321"
                manufacturersArticleID: "62115"
              deliveryOption: []
            lineID: "1"
          measures:
            grossWeight:
              measure: 450.5
              measureUnitCode: lbs
          totalQuantity:
            measureUnitCode: PCE
            quantityValue: 12
          arrivalTime: 14:30:00
          buyerParty:
            agencyCode: "91"
            partyID: "1111111"
          despatchDate: 2025-01-16
          carrierParty:
            agencyCode: "182"
            partyID: ABCD
          issueDate: 2025-01-15
          deliveryOption: []
        - consignee:
            address:
              city: ANYTOWN
              street:
              - 456 MAIN ST
              - SUITE 100
              - null
              countryCode: US
              district: SC
              postCode: 12345-6789
            name:
            - ACME TIRE - MAIN ST LOCATION
            agencyCode: "91"
            partyID: "1234567"
          references:
          - referenceTypeCode: DQ
            documentID: BOL123456
          - referenceTypeCode: DQ
            documentID: BOL123456
          documentNumber: BOL123456
          arrivalDate: 2025-01-18
          lineLevel:
          - references:
            - referenceTypeCode: BM
              lineID: "1"
              documentID: BOL123456
            - referenceTypeCode: BM
              lineID: "1"
              documentID: BOL123456
            orderedArticle:
              despatchedQuantity:
                measureUnitCode: PCE
                quantityValue: 4
              articleDescription:
                articleDescriptionText:
                - 265/70R17 115TDFNDRLTXMSORLMTP
              tracingInformation:
              - tracingID: 1Z999AA10123456784
              - tracingID: 1Z999AA10123456784
              articleIdentification:
                buyersArticleID: "321"
                manufacturersArticleID: "62115"
              deliveryOption: []
            lineID: "1"
          - references:
            - referenceTypeCode: BM
              lineID: "1"
              documentID: BOL123456
            - referenceTypeCode: BM
              lineID: "1"
              documentID: BOL123456
            orderedArticle:
              despatchedQuantity:
                measureUnitCode: PCE
                quantityValue: 4
              articleDescription:
                articleDescriptionText:
                - 265/70R17 115TDFNDRLTXMSORLMTP
              tracingInformation:
              - tracingID: 1Z999AA10123456784
              - tracingID: 1Z999AA10123456784
              articleIdentification:
                buyersArticleID: "321"
                manufacturersArticleID: "62115"
              deliveryOption: []
            lineID: "1"
          measures:
            grossWeight:
              measure: 450.5
              measureUnitCode: lbs
          totalQuantity:
            measureUnitCode: PCE
            quantityValue: 12
          arrivalTime: 14:30:00
          buyerParty:
            agencyCode: "91"
            partyID: "1111111"
          despatchDate: 2025-01-16
          carrierParty:
            agencyCode: "182"
            partyID: ABCD
          issueDate: 2025-01-15
          deliveryOption: []
        envelopeHeader:
          messageType: desadv
          variant: "0"
          documentID: C1
          numberOfMessages: 1
      properties:
        envelopeHeader:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_envelopeHeader'
        errorHead:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_errorHead'
        desadv:
          items:
            $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner'
          type: array
      required:
      - envelopeHeader
      - errorHead
      type: object
    EDIWheel-C1_1-OrderCreationRequest:
      allOf:
      - properties:
          documentId:
            description: Fixed value "C1"
            example: C1
            type: string
          variant:
            description: Fixed value "1"
            example: "1"
            type: string
          transportPriority:
            description: "REPL = Next Truck <br> RUSH = Small Package <br> **REPL\
              \ offers could be present from Michelin and/or extended supplier. REPL\
              \ offer from extended supplier would typically result in a same day\
              \ or next day delivery.<br> **REPL offers from Michelin could also include\
              \ \"backorder\" offers designated by deliveryDate = 2999-12-31 <br>\
              \ If order is for pickup from supplier DC, this value would be set as\
              \ null"
            type: string
          pickUp:
            description: "Indicator = \"Y\" in order request would indicate customer\
              \ intends to pick up product from local supplier warehouse. <br> If\
              \ order is for pickup from supplier DC, set value as \"Y\".<br> If order\
              \ is not for pickup from supplier DC, set value as null and set transportPriority\
              \ field."
            type: string
          deliveryRemarks:
            type: string
          customerReference:
            $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_allOf_customerReference'
          supplierParty:
            $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_allOf_supplierParty'
          buyerParty:
            $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_allOf_buyerParty'
          consignee:
            $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_allOf_consignee'
          orderLine:
            items:
              $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_allOf_orderLine'
            type: array
        required:
        - buyerParty
        - customerReference
        - documentId
        - supplierParty
        type: object
      - oneOf:
        - description: "Option 1: transportPriority is REPL or RUSH, and pickUp must\
            \ be null"
          properties:
            transportPriority:
              enum:
              - REPL
              - RUSH
              example: REPL
              type: string
            pickUp:
              example: null
          required:
          - transportPriority
          title: Order is NOT for Pickup from supplier DC
        - description: "Option 2: pickUp is Y, and transportPriority must be null."
          properties:
            transportPriority:
              example: null
            pickUp:
              enum:
              - "Y"
              example: "Y"
              type: string
          required:
          - pickUp
          title: Order is for Pickup from supplier DC
    EDIWheel-C1_1-OrderCreationResponse:
      example:
        supplierParty:
          address:
            subCountry: SC
            city: LAURENS
            street:
            - 101 MICHELIN DR
            countryCode: US
            postCode: "29360"
          name:
          - MTC LAURENS
          agencyCode: "91"
          informationContact:
            telephoneNumber: Main:8646827800
            name:
            - Michelin
          partyId: U71
        consignee:
          agencyCode: "91"
          partyId: "1234567"
        errorHead:
          errorCode: "0"
        buyerParty:
          agencyCode: "91"
          partyId: "1111111"
        customerReference:
          documentId: TEST-DO NOT SHIP
        orderLine:
        - orderedArticle:
            orderedQuantity:
              quantityValue: "4"
            articleDescription:
              articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
            requestedDeliveryDate: 2025-01-03
            orderReference:
              documentId: SNZ900209
            articleIdentification:
              buyersArticleId: ""
              manufacturersArticleId: "62115"
            error:
              errorText: NO_ERROR
              errorCode: "0"
            scheduleDetails:
            - charge:
              - chargeCategory: FET
                chargeAmount:
                  amountValue: "0.00"
              - chargeCategory: FET
                chargeAmount:
                  amountValue: "0.00"
              priceDetails:
                netUnitPrice:
                  priceAmount: "163.2"
              deliveryDate: 2025-01-05
              confirmedQuantity:
                quantityValue: "4"
            - charge:
              - chargeCategory: FET
                chargeAmount:
                  amountValue: "0.00"
              - chargeCategory: FET
                chargeAmount:
                  amountValue: "0.00"
              priceDetails:
                netUnitPrice:
                  priceAmount: "163.2"
              deliveryDate: 2025-01-05
              confirmedQuantity:
                quantityValue: "4"
          suppliersOrderLineId: "001"
          lineId: "001"
          additionalCustomerReferenceNumber:
            documentId: MXDLRUS-P-EXT0000058
        - orderedArticle:
            orderedQuantity:
              quantityValue: "4"
            articleDescription:
              articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
            requestedDeliveryDate: 2025-01-03
            orderReference:
              documentId: SNZ900209
            articleIdentification:
              buyersArticleId: ""
              manufacturersArticleId: "62115"
            error:
              errorText: NO_ERROR
              errorCode: "0"
            scheduleDetails:
            - charge:
              - chargeCategory: FET
                chargeAmount:
                  amountValue: "0.00"
              - chargeCategory: FET
                chargeAmount:
                  amountValue: "0.00"
              priceDetails:
                netUnitPrice:
                  priceAmount: "163.2"
              deliveryDate: 2025-01-05
              confirmedQuantity:
                quantityValue: "4"
            - charge:
              - chargeCategory: FET
                chargeAmount:
                  amountValue: "0.00"
              - chargeCategory: FET
                chargeAmount:
                  amountValue: "0.00"
              priceDetails:
                netUnitPrice:
                  priceAmount: "163.2"
              deliveryDate: 2025-01-05
              confirmedQuantity:
                quantityValue: "4"
          suppliersOrderLineId: "001"
          lineId: "001"
          additionalCustomerReferenceNumber:
            documentId: MXDLRUS-P-EXT0000058
        variant: "1"
        transportPriority: REPL
        documentId: C1
        currencyCode: USD
      properties:
        documentId:
          description: DocumentID always "C1".
          example: C1
          type: string
        variant:
          description: Variant always "1".
          example: "1"
          type: string
        transportPriority:
          description: "Mode of transport indicated in the request. Example: \"REPL\"\
            \ for Next Truck."
          example: REPL
          type: string
        errorHead:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationResponse_errorHead'
        customerReference:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationResponse_customerReference'
        supplierParty:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationResponse_supplierParty'
        buyerParty:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationResponse_buyerParty'
        consignee:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationResponse_consignee'
        currencyCode:
          description: CurrencyCode = USD or CAD.
          example: USD
          type: string
        orderLine:
          items:
            $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationResponse_orderLine_inner'
          type: array
      required:
      - buyerParty
      - customerReference
      - documentId
      - errorHead
      type: object
    EDIWheel-C1_1-OrderStatusRequest:
      properties:
        documentID:
          description: Fixed documentID = C1
          example: C1
          type: string
        variant:
          description: Fixed variant = 1
          example: "1"
          type: string
        orderStatusIndicator:
          description: "Indicator used in request determines line statuses that are\
            \ included in response. Indicator options: 0 = open/backorder status lines,\
            \ 1 = open/backorder and cancelled status lines, 2 = all status lines."
          enum:
          - "0"
          - "1"
          - "2"
          example: "2"
          type: string
        orderDateFrom:
          description: From Date value for Date Range searches. Format YYYY-MM-DD.
            Date range cannot be used in conjunction with order reference(s) as selection
            criteria. Max of 90 day window. Date range OR Reference value required
            for searches.
          example: 2025-01-01
          type: string
        orderDateTo:
          description: To Date value for Date Range searches. Format YYYY-MM-DD. Date
            range cannot be used in conjunction with order reference(s) as selection
            criteria. Max of 90 day window. Date range OR Reference value required
            for searches.
          example: 2025-03-31
          type: string
        buyerParty:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderStatusRequest_buyerParty'
        consignee:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderStatusRequest_consignee'
        referencedOrder:
          description: referencedOrder / documentID search criteria cannot be used
            in combination with the date range search. Date range OR Reference value
            required for searches.
          items:
            $ref: '#/components/schemas/EDIWheel_C1_1_OrderStatusRequest_referencedOrder_inner'
          type: array
      required:
      - buyerParty
      - consignee
      - documentID
      - orderStatusIndicator
      - variant
      type: object
    EDIWheel-C1_1-OrderStatusResponse:
      example:
        orderStatusIndicator: "2"
        consignee:
          address: "{}"
          name: []
          agencyCode: "91"
          informationContact: "{}"
          partyId: "1234567"
        referencedOrder:
        - supplierOrderNumber:
            documentId: SO12345678
          sellerParty: "{}"
          orderingMethod: EDI PO
          supplierParty: "{}"
          contract: "{}"
          orderLine:
          - orderedArticle:
              requestedDeliveryTime: requestedDeliveryTime
              articleComment: articleComment
              orderedQuantity:
                quantityValue: "4"
              articleDescription:
                articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
              requestedDeliveryDate: 2025-01-20
              articleIdentification:
                buyersArticleId: "321"
                manufacturersArticleId: "62115"
                eanuccarticleID: eanuccarticleID
              scheduleDetails:
              - shippedDetails:
                  shippedQuantity:
                    quantityValue: "2"
                  despatchedDetails:
                    scheduledArticleDespatchDetails:
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                backorderedQuantity:
                  quantityValue: "2"
                deliveryTime: 00:00:00Z
                cancelledQuantity:
                  quantityValue: "0"
                scheduledQuantity:
                  quantityValue: "2"
                deliveryDate: 2025-01-20
                openQuantity:
                  quantityValue: "0"
                confirmedQuantity:
                  quantityValue: "2"
              - shippedDetails:
                  shippedQuantity:
                    quantityValue: "2"
                  despatchedDetails:
                    scheduledArticleDespatchDetails:
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                backorderedQuantity:
                  quantityValue: "2"
                deliveryTime: 00:00:00Z
                cancelledQuantity:
                  quantityValue: "0"
                scheduledQuantity:
                  quantityValue: "2"
                deliveryDate: 2025-01-20
                openQuantity:
                  quantityValue: "0"
                confirmedQuantity:
                  quantityValue: "2"
            lineId: "001"
            additionalCustomerReferenceNumber: "{}"
            customerLineItemNumber: ""
          - orderedArticle:
              requestedDeliveryTime: requestedDeliveryTime
              articleComment: articleComment
              orderedQuantity:
                quantityValue: "4"
              articleDescription:
                articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
              requestedDeliveryDate: 2025-01-20
              articleIdentification:
                buyersArticleId: "321"
                manufacturersArticleId: "62115"
                eanuccarticleID: eanuccarticleID
              scheduleDetails:
              - shippedDetails:
                  shippedQuantity:
                    quantityValue: "2"
                  despatchedDetails:
                    scheduledArticleDespatchDetails:
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                backorderedQuantity:
                  quantityValue: "2"
                deliveryTime: 00:00:00Z
                cancelledQuantity:
                  quantityValue: "0"
                scheduledQuantity:
                  quantityValue: "2"
                deliveryDate: 2025-01-20
                openQuantity:
                  quantityValue: "0"
                confirmedQuantity:
                  quantityValue: "2"
              - shippedDetails:
                  shippedQuantity:
                    quantityValue: "2"
                  despatchedDetails:
                    scheduledArticleDespatchDetails:
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                backorderedQuantity:
                  quantityValue: "2"
                deliveryTime: 00:00:00Z
                cancelledQuantity:
                  quantityValue: "0"
                scheduledQuantity:
                  quantityValue: "2"
                deliveryDate: 2025-01-20
                openQuantity:
                  quantityValue: "0"
                confirmedQuantity:
                  quantityValue: "2"
            lineId: "001"
            additionalCustomerReferenceNumber: "{}"
            customerLineItemNumber: ""
          orderReference:
            documentId: PO12345
          pickUp: pickUp
          error: "{}"
          orderDate: 2025-01-15
          deliveryOption: deliveryOption
        - supplierOrderNumber:
            documentId: SO12345678
          sellerParty: "{}"
          orderingMethod: EDI PO
          supplierParty: "{}"
          contract: "{}"
          orderLine:
          - orderedArticle:
              requestedDeliveryTime: requestedDeliveryTime
              articleComment: articleComment
              orderedQuantity:
                quantityValue: "4"
              articleDescription:
                articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
              requestedDeliveryDate: 2025-01-20
              articleIdentification:
                buyersArticleId: "321"
                manufacturersArticleId: "62115"
                eanuccarticleID: eanuccarticleID
              scheduleDetails:
              - shippedDetails:
                  shippedQuantity:
                    quantityValue: "2"
                  despatchedDetails:
                    scheduledArticleDespatchDetails:
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                backorderedQuantity:
                  quantityValue: "2"
                deliveryTime: 00:00:00Z
                cancelledQuantity:
                  quantityValue: "0"
                scheduledQuantity:
                  quantityValue: "2"
                deliveryDate: 2025-01-20
                openQuantity:
                  quantityValue: "0"
                confirmedQuantity:
                  quantityValue: "2"
              - shippedDetails:
                  shippedQuantity:
                    quantityValue: "2"
                  despatchedDetails:
                    scheduledArticleDespatchDetails:
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                backorderedQuantity:
                  quantityValue: "2"
                deliveryTime: 00:00:00Z
                cancelledQuantity:
                  quantityValue: "0"
                scheduledQuantity:
                  quantityValue: "2"
                deliveryDate: 2025-01-20
                openQuantity:
                  quantityValue: "0"
                confirmedQuantity:
                  quantityValue: "2"
            lineId: "001"
            additionalCustomerReferenceNumber: "{}"
            customerLineItemNumber: ""
          - orderedArticle:
              requestedDeliveryTime: requestedDeliveryTime
              articleComment: articleComment
              orderedQuantity:
                quantityValue: "4"
              articleDescription:
                articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
              requestedDeliveryDate: 2025-01-20
              articleIdentification:
                buyersArticleId: "321"
                manufacturersArticleId: "62115"
                eanuccarticleID: eanuccarticleID
              scheduleDetails:
              - shippedDetails:
                  shippedQuantity:
                    quantityValue: "2"
                  despatchedDetails:
                    scheduledArticleDespatchDetails:
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                backorderedQuantity:
                  quantityValue: "2"
                deliveryTime: 00:00:00Z
                cancelledQuantity:
                  quantityValue: "0"
                scheduledQuantity:
                  quantityValue: "2"
                deliveryDate: 2025-01-20
                openQuantity:
                  quantityValue: "0"
                confirmedQuantity:
                  quantityValue: "2"
              - shippedDetails:
                  shippedQuantity:
                    quantityValue: "2"
                  despatchedDetails:
                    scheduledArticleDespatchDetails:
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                    - despatchedQuantity:
                        quantityValue: "2"
                      despatchDate: 2025-01-18
                      despatchAdviceReference:
                        lineId: "1"
                        documentId: BOL123456
                backorderedQuantity:
                  quantityValue: "2"
                deliveryTime: 00:00:00Z
                cancelledQuantity:
                  quantityValue: "0"
                scheduledQuantity:
                  quantityValue: "2"
                deliveryDate: 2025-01-20
                openQuantity:
                  quantityValue: "0"
                confirmedQuantity:
                  quantityValue: "2"
            lineId: "001"
            additionalCustomerReferenceNumber: "{}"
            customerLineItemNumber: ""
          orderReference:
            documentId: PO12345
          pickUp: pickUp
          error: "{}"
          orderDate: 2025-01-15
          deliveryOption: deliveryOption
        orderDateFrom: 2025-01-01
        errorHead:
          errorCode: "0"
        buyerParty:
          address: "{}"
          name: []
          agencyCode: "91"
          informationContact: "{}"
          partyID: "1111111"
        orderingParty: "{}"
        variant: "1"
        documentID: C1
        orderDateTo: 2025-03-31
      properties:
        documentID:
          description: Fixed documentID = C1
          example: C1
          type: string
        variant:
          description: Fixed variant = 1
          example: "1"
          type: string
        orderDateFrom:
          description: orderDateFrom returned IF included in request
          example: 2025-01-01
          type: string
        orderDateTo:
          description: orderDateTo returned IF included in request
          example: 2025-03-31
          type: string
        orderStatusIndicator:
          description: Indicator used in request determines line statuses that are
            included in response
          enum:
          - "0"
          - "1"
          - "2"
          example: "2"
          type: string
        errorHead:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_errorHead'
        buyerParty:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderStatusResponse_buyerParty'
        orderingParty:
          nullable: true
          type: object
        consignee:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderStatusResponse_consignee'
        referencedOrder:
          items:
            $ref: '#/components/schemas/EDIWheel_C1_1_OrderStatusResponse_referencedOrder_inner'
          type: array
      required:
      - buyerParty
      - consignee
      - documentID
      - errorHead
      - orderStatusIndicator
      type: object
    EDIWheel-B3_4-InvoiceListRequest:
      properties:
        documentID:
          description: Fixed documentID = B3
          example: B3
          type: string
        variant:
          description: Fixed variant = 4
          example: "4"
          type: string
        invoice:
          items:
            $ref: '#/components/schemas/EDIWheel_B3_4_InvoiceListRequest_invoice_inner'
          type: array
      required:
      - documentID
      - invoice
      type: object
    EDIWheel-B3_4-InvoiceListResponse:
      example:
        errorHead:
          errorCode: "0"
        variant: "4"
        documentID: B3
        numberOfMessages: 5
        invoice:
        - summary:
            totalAmount:
              amountValue: 2000.0
            taxDetails:
            - taxRate: 3.0
              taxableAmount:
                amountValue: 2000.0
              subCountryCode: US-SC
              taxTypeCode: FET
              taxAmount:
                amountValue: 60.0
            - taxRate: 3.0
              taxableAmount:
                amountValue: 2000.0
              subCountryCode: US-SC
              taxTypeCode: FET
              taxAmount:
                amountValue: 60.0
            allowanceOrCharge:
            - []
            - []
            totalLineItemsAmount:
              amountValue: 1950.0
          sellerParty:
            address:
              subCountry: GA
              city: ATLANTA
              street:
              - P.O. BOX 100512
              - null
              - null
              countryCode: US
              district: ""
              postCode: 30384-0512
            supplierParty:
              shippingLocation:
                locationName: ""
              agencyCode: ""
              telephoneExtension: ""
              partyID: ""
            name:
            - "MICHELIN NORTH AMERICA, INC."
            agencyCode: "91"
            informationContact:
              emailAddress: ""
              telephoneNumber: ""
              contactID: ""
              name: ""
              faxNumber: ""
              telephoneExtension: ""
            partyID: "7654321"
          consignee:
            address:
              subCountry: SC
              city: ANYTOWN
              street:
              - 456 MAIN ST
              - null
              - null
              countryCode: US
              district: ""
              postCode: 12345-6789
            name:
            - ACME TIRE - MAIN ST LOCATION
            agencyCode: "91"
            partyID: "1234567"
          controls:
            numberOfLineItems: 3
            totalQuantityValues: 12.0
          attachments:
          - data: JVBERi0xLjMKJcTl8uXrp...
            documentNumber: "123456789012"
            mimeType: application/pdf
            encodingScheme: Base64
          - data: JVBERi0xLjMKJcTl8uXrp...
            documentNumber: "123456789012"
            mimeType: application/pdf
            encodingScheme: Base64
          references:
            fleetReference:
            - referenceTypeCode: ""
              documentID: ""
            - referenceTypeCode: ""
              documentID: ""
            supplierClaimNumber:
              documentID: ""
          headerNote:
            note:
            - This is a note on the invoice header.
            languageCode: EN
          documentNumber: "123456789012"
          allowanceOrCharge:
          - allowanceOrChargeAmount:
              amountValue: 25.0
            allowanceOrChargeTypeCode: FC
          - allowanceOrChargeAmount:
              amountValue: 25.0
            allowanceOrChargeTypeCode: FC
          lineLevel:
          - references:
              associatedInvoiceReference:
                lineID: "1"
                documentID: INV123456789
                issueDate: 2025-01-02
              fleetReference:
              - referenceTypeCode: ""
                documentID: ""
              - referenceTypeCode: ""
                documentID: ""
              deliveryNoteReference:
                documentID: BOL123456
                completionDate: 2025-01-12
                issueDate: 2025-01-10
              returnDeliveryNoticeReference:
                documentID: ""
              buyerOrderReference:
                lineID: "1"
                documentID: PO12345
              customsDeclarationNumber:
              - documentID: ""
              - documentID: ""
              suppliersOrderReference:
                lineID: "1"
                documentID: SO987654
                issueDate: 2025-01-05
            lineID: "1"
            lineItemNetAmount:
              amountValue: 652.8
            article:
              lineNote:
                note:
                - ""
                languageCode: EN
              consignee:
                address:
                  subCountry: SC
                  city: ANYTOWN
                  street:
                  - 456 MAIN ST
                  - null
                  - null
                  countryCode: US
                  district: ""
                  postCode: 12345-6789
                name:
                - ACME TIRE - MAIN ST LOCATION
                agencyCode: "91"
                partyID: "1254692"
              taxDetails:
              - taxRate: 3.0
                subCountryCode: US-SC
                taxTypeCode: FET
                taxAmount:
                  amountValue: 19.58
              - taxRate: 3.0
                subCountryCode: US-SC
                taxTypeCode: FET
                taxAmount:
                  amountValue: 19.58
              articleDescription:
              - articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
              - articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
              tracingInformation:
              - tracingID: ""
                serialNumber: ""
              - tracingID: ""
                serialNumber: ""
              priceDetails:
                netUnitPrice:
                  priceAmount: 163.2
                grossUnitPrice:
                  priceAmount: 163.2
              lineItemTotalAmount:
                amountValue: 636.48
              articleIdentification:
                buyersArticleID: "321"
                eanUccArticleID: ""
                suppliersArticleID: "62115"
              allowanceOrCharge:
              - allowanceOrChargeAmount:
                  amountValue: 16.32
                allowanceOrChargeTypeCode: TD
                taxDetails:
                - []
                - []
              - allowanceOrChargeAmount:
                  amountValue: 16.32
                allowanceOrChargeTypeCode: TD
                taxDetails:
                - []
                - []
              countryOfOrigin: US
              invoicedQuantity:
                measureUnitCode: EA
                quantityValue: 4.0
          - references:
              associatedInvoiceReference:
                lineID: "1"
                documentID: INV123456789
                issueDate: 2025-01-02
              fleetReference:
              - referenceTypeCode: ""
                documentID: ""
              - referenceTypeCode: ""
                documentID: ""
              deliveryNoteReference:
                documentID: BOL123456
                completionDate: 2025-01-12
                issueDate: 2025-01-10
              returnDeliveryNoticeReference:
                documentID: ""
              buyerOrderReference:
                lineID: "1"
                documentID: PO12345
              customsDeclarationNumber:
              - documentID: ""
              - documentID: ""
              suppliersOrderReference:
                lineID: "1"
                documentID: SO987654
                issueDate: 2025-01-05
            lineID: "1"
            lineItemNetAmount:
              amountValue: 652.8
            article:
              lineNote:
                note:
                - ""
                languageCode: EN
              consignee:
                address:
                  subCountry: SC
                  city: ANYTOWN
                  street:
                  - 456 MAIN ST
                  - null
                  - null
                  countryCode: US
                  district: ""
                  postCode: 12345-6789
                name:
                - ACME TIRE - MAIN ST LOCATION
                agencyCode: "91"
                partyID: "1254692"
              taxDetails:
              - taxRate: 3.0
                subCountryCode: US-SC
                taxTypeCode: FET
                taxAmount:
                  amountValue: 19.58
              - taxRate: 3.0
                subCountryCode: US-SC
                taxTypeCode: FET
                taxAmount:
                  amountValue: 19.58
              articleDescription:
              - articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
              - articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
              tracingInformation:
              - tracingID: ""
                serialNumber: ""
              - tracingID: ""
                serialNumber: ""
              priceDetails:
                netUnitPrice:
                  priceAmount: 163.2
                grossUnitPrice:
                  priceAmount: 163.2
              lineItemTotalAmount:
                amountValue: 636.48
              articleIdentification:
                buyersArticleID: "321"
                eanUccArticleID: ""
                suppliersArticleID: "62115"
              allowanceOrCharge:
              - allowanceOrChargeAmount:
                  amountValue: 16.32
                allowanceOrChargeTypeCode: TD
                taxDetails:
                - []
                - []
              - allowanceOrChargeAmount:
                  amountValue: 16.32
                allowanceOrChargeTypeCode: TD
                taxDetails:
                - []
                - []
              countryOfOrigin: US
              invoicedQuantity:
                measureUnitCode: EA
                quantityValue: 4.0
          documentTypeCode: "380"
          documentCurrency: USD
          buyerParty:
            address:
              subCountry: SC
              city: ANYTOWN
              street:
              - 123 MAIN ST
              - null
              - null
              countryCode: US
              district: ""
              postCode: 12345-6789
            taxRegistrationID: 12-345-6789
            name:
            - ACME TIRE COMPANY
            agencyCode: "91"
            partyID: "1111111"
            vatRegistrationID: ""
          einvoicingID:
          - []
          - []
          invoiceIssuerParty:
            address:
              subCountry: SC
              city: GREENVILLE
              street:
              - ONE PARKWAY SOUTH
              - null
              - null
              countryCode: US
              district: ""
              postCode: "29615"
            name:
            - "MICHELIN NORTH AMERICA, INC."
            agencyCode: "91"
            partyID: "9876543"
          issueDate: 2025-01-03
          paymentTerms:
          - paymentDiscount:
            - []
            - []
            paymentNet:
            - paymentDueDate: 2025-02-15
              instalmentAmount:
                amountValue: 1500.0
                currencyCode: USD
            - paymentDueDate: 2025-02-15
              instalmentAmount:
                amountValue: 1500.0
                currencyCode: USD
          - paymentDiscount:
            - []
            - []
            paymentNet:
            - paymentDueDate: 2025-02-15
              instalmentAmount:
                amountValue: 1500.0
                currencyCode: USD
            - paymentDueDate: 2025-02-15
              instalmentAmount:
                amountValue: 1500.0
                currencyCode: USD
        - summary:
            totalAmount:
              amountValue: 2000.0
            taxDetails:
            - taxRate: 3.0
              taxableAmount:
                amountValue: 2000.0
              subCountryCode: US-SC
              taxTypeCode: FET
              taxAmount:
                amountValue: 60.0
            - taxRate: 3.0
              taxableAmount:
                amountValue: 2000.0
              subCountryCode: US-SC
              taxTypeCode: FET
              taxAmount:
                amountValue: 60.0
            allowanceOrCharge:
            - []
            - []
            totalLineItemsAmount:
              amountValue: 1950.0
          sellerParty:
            address:
              subCountry: GA
              city: ATLANTA
              street:
              - P.O. BOX 100512
              - null
              - null
              countryCode: US
              district: ""
              postCode: 30384-0512
            supplierParty:
              shippingLocation:
                locationName: ""
              agencyCode: ""
              telephoneExtension: ""
              partyID: ""
            name:
            - "MICHELIN NORTH AMERICA, INC."
            agencyCode: "91"
            informationContact:
              emailAddress: ""
              telephoneNumber: ""
              contactID: ""
              name: ""
              faxNumber: ""
              telephoneExtension: ""
            partyID: "7654321"
          consignee:
            address:
              subCountry: SC
              city: ANYTOWN
              street:
              - 456 MAIN ST
              - null
              - null
              countryCode: US
              district: ""
              postCode: 12345-6789
            name:
            - ACME TIRE - MAIN ST LOCATION
            agencyCode: "91"
            partyID: "1234567"
          controls:
            numberOfLineItems: 3
            totalQuantityValues: 12.0
          attachments:
          - data: JVBERi0xLjMKJcTl8uXrp...
            documentNumber: "123456789012"
            mimeType: application/pdf
            encodingScheme: Base64
          - data: JVBERi0xLjMKJcTl8uXrp...
            documentNumber: "123456789012"
            mimeType: application/pdf
            encodingScheme: Base64
          references:
            fleetReference:
            - referenceTypeCode: ""
              documentID: ""
            - referenceTypeCode: ""
              documentID: ""
            supplierClaimNumber:
              documentID: ""
          headerNote:
            note:
            - This is a note on the invoice header.
            languageCode: EN
          documentNumber: "123456789012"
          allowanceOrCharge:
          - allowanceOrChargeAmount:
              amountValue: 25.0
            allowanceOrChargeTypeCode: FC
          - allowanceOrChargeAmount:
              amountValue: 25.0
            allowanceOrChargeTypeCode: FC
          lineLevel:
          - references:
              associatedInvoiceReference:
                lineID: "1"
                documentID: INV123456789
                issueDate: 2025-01-02
              fleetReference:
              - referenceTypeCode: ""
                documentID: ""
              - referenceTypeCode: ""
                documentID: ""
              deliveryNoteReference:
                documentID: BOL123456
                completionDate: 2025-01-12
                issueDate: 2025-01-10
              returnDeliveryNoticeReference:
                documentID: ""
              buyerOrderReference:
                lineID: "1"
                documentID: PO12345
              customsDeclarationNumber:
              - documentID: ""
              - documentID: ""
              suppliersOrderReference:
                lineID: "1"
                documentID: SO987654
                issueDate: 2025-01-05
            lineID: "1"
            lineItemNetAmount:
              amountValue: 652.8
            article:
              lineNote:
                note:
                - ""
                languageCode: EN
              consignee:
                address:
                  subCountry: SC
                  city: ANYTOWN
                  street:
                  - 456 MAIN ST
                  - null
                  - null
                  countryCode: US
                  district: ""
                  postCode: 12345-6789
                name:
                - ACME TIRE - MAIN ST LOCATION
                agencyCode: "91"
                partyID: "1254692"
              taxDetails:
              - taxRate: 3.0
                subCountryCode: US-SC
                taxTypeCode: FET
                taxAmount:
                  amountValue: 19.58
              - taxRate: 3.0
                subCountryCode: US-SC
                taxTypeCode: FET
                taxAmount:
                  amountValue: 19.58
              articleDescription:
              - articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
              - articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
              tracingInformation:
              - tracingID: ""
                serialNumber: ""
              - tracingID: ""
                serialNumber: ""
              priceDetails:
                netUnitPrice:
                  priceAmount: 163.2
                grossUnitPrice:
                  priceAmount: 163.2
              lineItemTotalAmount:
                amountValue: 636.48
              articleIdentification:
                buyersArticleID: "321"
                eanUccArticleID: ""
                suppliersArticleID: "62115"
              allowanceOrCharge:
              - allowanceOrChargeAmount:
                  amountValue: 16.32
                allowanceOrChargeTypeCode: TD
                taxDetails:
                - []
                - []
              - allowanceOrChargeAmount:
                  amountValue: 16.32
                allowanceOrChargeTypeCode: TD
                taxDetails:
                - []
                - []
              countryOfOrigin: US
              invoicedQuantity:
                measureUnitCode: EA
                quantityValue: 4.0
          - references:
              associatedInvoiceReference:
                lineID: "1"
                documentID: INV123456789
                issueDate: 2025-01-02
              fleetReference:
              - referenceTypeCode: ""
                documentID: ""
              - referenceTypeCode: ""
                documentID: ""
              deliveryNoteReference:
                documentID: BOL123456
                completionDate: 2025-01-12
                issueDate: 2025-01-10
              returnDeliveryNoticeReference:
                documentID: ""
              buyerOrderReference:
                lineID: "1"
                documentID: PO12345
              customsDeclarationNumber:
              - documentID: ""
              - documentID: ""
              suppliersOrderReference:
                lineID: "1"
                documentID: SO987654
                issueDate: 2025-01-05
            lineID: "1"
            lineItemNetAmount:
              amountValue: 652.8
            article:
              lineNote:
                note:
                - ""
                languageCode: EN
              consignee:
                address:
                  subCountry: SC
                  city: ANYTOWN
                  street:
                  - 456 MAIN ST
                  - null
                  - null
                  countryCode: US
                  district: ""
                  postCode: 12345-6789
                name:
                - ACME TIRE - MAIN ST LOCATION
                agencyCode: "91"
                partyID: "1254692"
              taxDetails:
              - taxRate: 3.0
                subCountryCode: US-SC
                taxTypeCode: FET
                taxAmount:
                  amountValue: 19.58
              - taxRate: 3.0
                subCountryCode: US-SC
                taxTypeCode: FET
                taxAmount:
                  amountValue: 19.58
              articleDescription:
              - articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
              - articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
              tracingInformation:
              - tracingID: ""
                serialNumber: ""
              - tracingID: ""
                serialNumber: ""
              priceDetails:
                netUnitPrice:
                  priceAmount: 163.2
                grossUnitPrice:
                  priceAmount: 163.2
              lineItemTotalAmount:
                amountValue: 636.48
              articleIdentification:
                buyersArticleID: "321"
                eanUccArticleID: ""
                suppliersArticleID: "62115"
              allowanceOrCharge:
              - allowanceOrChargeAmount:
                  amountValue: 16.32
                allowanceOrChargeTypeCode: TD
                taxDetails:
                - []
                - []
              - allowanceOrChargeAmount:
                  amountValue: 16.32
                allowanceOrChargeTypeCode: TD
                taxDetails:
                - []
                - []
              countryOfOrigin: US
              invoicedQuantity:
                measureUnitCode: EA
                quantityValue: 4.0
          documentTypeCode: "380"
          documentCurrency: USD
          buyerParty:
            address:
              subCountry: SC
              city: ANYTOWN
              street:
              - 123 MAIN ST
              - null
              - null
              countryCode: US
              district: ""
              postCode: 12345-6789
            taxRegistrationID: 12-345-6789
            name:
            - ACME TIRE COMPANY
            agencyCode: "91"
            partyID: "1111111"
            vatRegistrationID: ""
          einvoicingID:
          - []
          - []
          invoiceIssuerParty:
            address:
              subCountry: SC
              city: GREENVILLE
              street:
              - ONE PARKWAY SOUTH
              - null
              - null
              countryCode: US
              district: ""
              postCode: "29615"
            name:
            - "MICHELIN NORTH AMERICA, INC."
            agencyCode: "91"
            partyID: "9876543"
          issueDate: 2025-01-03
          paymentTerms:
          - paymentDiscount:
            - []
            - []
            paymentNet:
            - paymentDueDate: 2025-02-15
              instalmentAmount:
                amountValue: 1500.0
                currencyCode: USD
            - paymentDueDate: 2025-02-15
              instalmentAmount:
                amountValue: 1500.0
                currencyCode: USD
          - paymentDiscount:
            - []
            - []
            paymentNet:
            - paymentDueDate: 2025-02-15
              instalmentAmount:
                amountValue: 1500.0
                currencyCode: USD
            - paymentDueDate: 2025-02-15
              instalmentAmount:
                amountValue: 1500.0
                currencyCode: USD
      properties:
        documentID:
          description: Fixed documentID = B3
          example: B3
          type: string
        variant:
          description: Fixed variant = 4
          example: "4"
          type: string
        numberOfMessages:
          description: Number of messages returned based on request search criteria.
            Max response = 100 messages. This may include a pagination feature in
            the future to be able to include more messages.
          example: 5
          type: integer
        errorHead:
          $ref: '#/components/schemas/EDIWheel_B3_4_InvoiceListResponse_errorHead'
        invoice:
          items:
            $ref: '#/components/schemas/EDIWheel_B3_4_InvoiceListResponse_invoice_inner'
          type: array
      required:
      - documentID
      - invoice
      - numberOfMessages
      - variant
      type: object
    EDIWheel-C1_1-StockInquiryRequest:
      properties:
        documentID:
          description: DocumentID always "C1".
          example: C1
          type: string
        variant:
          description: Variant always "1".
          example: "1"
          type: string
        buyerParty:
          $ref: '#/components/schemas/EDIWheel_C1_1_StockInquiryRequest_buyerParty'
        consignee:
          $ref: '#/components/schemas/EDIWheel_C1_1_StockInquiryRequest_consignee'
        orderLine:
          items:
            $ref: '#/components/schemas/EDIWheel_C1_1_StockInquiryRequest_orderLine_inner'
          type: array
      required:
      - buyerParty
      - consignee
      - documentID
      - orderLine
      - variant
      type: object
    EDIWheel-C1_1-StockInquiryResponse:
      example:
        consignee:
          agencyCode: "91"
          partyID: "1234567"
        errorHead:
          errorCode: "0"
        buyerParty:
          agencyCode: "91"
          partyID: "1111111"
        orderLine:
        - orderedArticle:
            articleDescription:
              articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
            requestedQuantity:
              quantityValue: 4
            articleIdentification:
              buyersArticleID: ""
              manufacturersArticleID: "62115"
            availability: "1"
            error:
              errorText: NO_ERROR
              errorCode: "0"
            scheduleDetails:
            - availableQuantity:
                quantityValue: 4
              charge:
              - chargeCategory: DL
                chargeAmount:
                  amountValue: "3.00"
              - chargeCategory: DL
                chargeAmount:
                  amountValue: "3.00"
              supplierParty:
                address:
                  subCountry: SC
                  city: LAURENS
                  street:
                  - 101 MICHELIN DR
                  countryCode: US
                  postCode: "29360"
                name:
                - MTC LAURENS
                agencyCode: "91"
                informationContact:
                  name:
                  - Michelin
                partyID: U71
              deliveryTime: 00:00EDT
              orderByTime: 12:00EDT
              priceDetails:
                netUnitPrice:
                  priceAmount: 163.2
              transportPriority: REPL
              pickUp: "Y"
              deliveryDate: 2022-10-06
              orderByDate: 2025-01-03
            - availableQuantity:
                quantityValue: 4
              charge:
              - chargeCategory: DL
                chargeAmount:
                  amountValue: "3.00"
              - chargeCategory: DL
                chargeAmount:
                  amountValue: "3.00"
              supplierParty:
                address:
                  subCountry: SC
                  city: LAURENS
                  street:
                  - 101 MICHELIN DR
                  countryCode: US
                  postCode: "29360"
                name:
                - MTC LAURENS
                agencyCode: "91"
                informationContact:
                  name:
                  - Michelin
                partyID: U71
              deliveryTime: 00:00EDT
              orderByTime: 12:00EDT
              priceDetails:
                netUnitPrice:
                  priceAmount: 163.2
              transportPriority: REPL
              pickUp: "Y"
              deliveryDate: 2022-10-06
              orderByDate: 2025-01-03
          lineID: "001"
        - orderedArticle:
            articleDescription:
              articleDescriptionText: 265/70R17 115TDFNDRLTXMSORLMTP
            requestedQuantity:
              quantityValue: 4
            articleIdentification:
              buyersArticleID: ""
              manufacturersArticleID: "62115"
            availability: "1"
            error:
              errorText: NO_ERROR
              errorCode: "0"
            scheduleDetails:
            - availableQuantity:
                quantityValue: 4
              charge:
              - chargeCategory: DL
                chargeAmount:
                  amountValue: "3.00"
              - chargeCategory: DL
                chargeAmount:
                  amountValue: "3.00"
              supplierParty:
                address:
                  subCountry: SC
                  city: LAURENS
                  street:
                  - 101 MICHELIN DR
                  countryCode: US
                  postCode: "29360"
                name:
                - MTC LAURENS
                agencyCode: "91"
                informationContact:
                  name:
                  - Michelin
                partyID: U71
              deliveryTime: 00:00EDT
              orderByTime: 12:00EDT
              priceDetails:
                netUnitPrice:
                  priceAmount: 163.2
              transportPriority: REPL
              pickUp: "Y"
              deliveryDate: 2022-10-06
              orderByDate: 2025-01-03
            - availableQuantity:
                quantityValue: 4
              charge:
              - chargeCategory: DL
                chargeAmount:
                  amountValue: "3.00"
              - chargeCategory: DL
                chargeAmount:
                  amountValue: "3.00"
              supplierParty:
                address:
                  subCountry: SC
                  city: LAURENS
                  street:
                  - 101 MICHELIN DR
                  countryCode: US
                  postCode: "29360"
                name:
                - MTC LAURENS
                agencyCode: "91"
                informationContact:
                  name:
                  - Michelin
                partyID: U71
              deliveryTime: 00:00EDT
              orderByTime: 12:00EDT
              priceDetails:
                netUnitPrice:
                  priceAmount: 163.2
              transportPriority: REPL
              pickUp: "Y"
              deliveryDate: 2022-10-06
              orderByDate: 2025-01-03
          lineID: "001"
        variant: "1"
        documentID: C1
      properties:
        documentID:
          description: DocumentID always "C1".
          example: C1
          type: string
        variant:
          description: Variant always "1".
          example: "1"
          type: string
        errorHead:
          $ref: '#/components/schemas/EDIWheel_C1_1_StockInquiryResponse_errorHead'
        buyerParty:
          $ref: '#/components/schemas/EDIWheel_C1_1_StockInquiryResponse_buyerParty'
        consignee:
          $ref: '#/components/schemas/EDIWheel_C1_1_StockInquiryResponse_consignee'
        orderLine:
          items:
            $ref: '#/components/schemas/EDIWheel_C1_1_StockInquiryResponse_orderLine_inner'
          type: array
      type: object
    AuthenticationTokenRequest:
      properties:
        grant_type:
          example: client_credentials
          type: string
        client_id:
          type: string
        client_secret:
          type: string
      required:
      - client_id
      - client_secret
      - grant_type
      type: object
    AuthenticationTokenResponse:
      example:
        access_token: access_token
        signature: signature
        scope: scope
        instance_url: instance_url
        id: id
        token_type: token_type
        issued_at: issued_at
      properties:
        access_token:
          type: string
        signature:
          type: string
        scope:
          type: string
        instance_url:
          type: string
        id:
          type: string
        token_type:
          type: string
        issued_at:
          type: string
      type: object
    AuthenticationError:
      example:
        error_description: error_description
        error: error
      properties:
        error:
          type: string
        error_description:
          type: string
      type: object
    GeneralError:
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
      type: object
    EDIWheel_C1_0_DesadvRequest_references:
      properties:
        referenceTypeCode:
          description: "Reference Type Codes available for use are as follows: VN\
            \ = Michelin Sales Order Number, ON = Customer Purchase Order Number.\
            \ If used in request, responses will be limited to item(s) with the designated\
            \ referenceTypeCode. Only one referenceTypeCode can be used per request."
          enum:
          - VN
          - "ON"
          example: "ON"
          type: string
        documentID:
          description: Corresponding value for above referenceTypeCode (if used).
            Only one referenceTypeCode documentID can be used per request. Date range
            OR Reference value required for searches.
          example: PO12345
          type: string
      type: object
    EDIWheel_C1_0_DesadvRequest_buyerParty:
      properties:
        partyID:
          description: Customer Account Michelin Bill To (BT) Number
          example: "1111111"
          type: string
        agencyCode:
          description: Fixed value = 91
          example: "91"
          type: string
      required:
      - agencyCode
      - partyID
      type: object
    EDIWheel_C1_0_DesadvRequest_consignee:
      properties:
        partyID:
          description: Customer Account Michelin Ship To (ST) Number
          example: "1234567"
          type: string
        agencyCode:
          description: Fixed value = 91
          example: "91"
          type: string
      type: object
    EDIWheel_C1_0_DesadvResponse_envelopeHeader:
      example:
        messageType: desadv
        variant: "0"
        documentID: C1
        numberOfMessages: 1
      properties:
        documentID:
          description: Fixed documentID = C1
          example: C1
          type: string
        variant:
          description: Fixed variant = 0
          example: "0"
          type: string
        messageType:
          description: Fixed messageType = desadv
          example: desadv
          type: string
        numberOfMessages:
          description: "Number of ASN messages included in response (could be 0, 1,\
            \ or >1)"
          example: 1
          type: integer
      required:
      - documentID
      - messageType
      - numberOfMessages
      - variant
      type: object
    EDIWheel_C1_0_DesadvResponse_errorHead:
      example:
        errorCode: "0"
      properties:
        errorCode:
          description: |
            Error code if applicable. Error code = 0 indicates no error.

            Possible header error codes:
            - 0: No errors occurred. No action required.
            - 1: At least one item is incorrect. Details are distinctive in the error field on item level.
            - 901: Document number invalid (identification number of document, blanket order reference, customer reference, additional customer reference number)
            - 907: Invalid consignee(ship-to) party ID number. Consignee PartyID is missing from requests, or invalid, or is not setup or active within supplier system(s).
            - 915: Buyer (sold-to) party id number invalid. Buyer PartyID is missing or invalid from requests, OR is not setup or active within supplier system(s).
            - 920: Account not activated for this buyer (sold to) party ID number. Account is not in active status for order placement.
            - 987: Date range cannot be used in conjunction with other reference(s) as selection criteria.
            - 999: Miscellaneous header error.
          example: "0"
          type: string
      required:
      - errorCode
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner_measures_grossWeight:
      example:
        measure: 450.5
        measureUnitCode: lbs
      properties:
        measure:
          description: Total shipment weight in lbs
          example: 450.5
          type: number
        measureUnitCode:
          description: Fixed measurement unit = lbs
          example: lbs
          type: string
      required:
      - measure
      - measureUnitCode
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner_measures:
      example:
        grossWeight:
          measure: 450.5
          measureUnitCode: lbs
      properties:
        grossWeight:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner_measures_grossWeight'
      required:
      - grossWeight
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner_totalQuantity:
      example:
        measureUnitCode: PCE
        quantityValue: 12
      properties:
        quantityValue:
          description: Total quantity of items included in shipment
          example: 12
          type: integer
        measureUnitCode:
          description: Fixed measurement unit PCE = pieces
          example: PCE
          type: string
      required:
      - measureUnitCode
      - quantityValue
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner_references_inner:
      example:
        referenceTypeCode: DQ
        documentID: BOL123456
      properties:
        referenceTypeCode:
          description: DQ = Delivery Note Number
          example: DQ
          type: string
        documentID:
          description: Michelin Bill of Lading number
          example: BOL123456
          type: string
      required:
      - documentID
      - referenceTypeCode
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner_buyerParty:
      example:
        agencyCode: "91"
        partyID: "1111111"
      properties:
        partyID:
          description: Customer Account Michelin Bill To (BT) Number. 7 or 9 digit
            number
          example: "1111111"
          type: string
        agencyCode:
          description: Fixed value = 91
          example: "91"
          type: string
      required:
      - agencyCode
      - partyID
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner_consignee_address:
      example:
        city: ANYTOWN
        street:
        - 456 MAIN ST
        - SUITE 100
        - null
        countryCode: US
        district: SC
        postCode: 12345-6789
      properties:
        street:
          description: Customer Account Michelin Ship To (ST) street address lines
          example:
          - 456 MAIN ST
          - SUITE 100
          - null
          items:
            type: string
          type: array
        city:
          description: Customer Account Michelin Ship To (ST) City
          example: ANYTOWN
          type: string
        district:
          description: Customer Account Michelin Ship To (ST) State or Province. Format
            = two character abbreviation
          example: SC
          type: string
        postCode:
          description: Customer Account Michelin Ship To (ST) Zip or Postal Code
          example: 12345-6789
          type: string
        countryCode:
          description: Customer Account Michelin Ship To (ST) country code = US or
            CA
          example: US
          type: string
      required:
      - city
      - countryCode
      - district
      - postCode
      - street
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner_consignee:
      example:
        address:
          city: ANYTOWN
          street:
          - 456 MAIN ST
          - SUITE 100
          - null
          countryCode: US
          district: SC
          postCode: 12345-6789
        name:
        - ACME TIRE - MAIN ST LOCATION
        agencyCode: "91"
        partyID: "1234567"
      properties:
        partyID:
          description: Customer Account Michelin Ship To (ST) Number. 7 or 9 digit
            number
          example: "1234567"
          type: string
        agencyCode:
          description: Fixed value = 91
          example: "91"
          type: string
        name:
          description: Name of Customer Account Michelin Ship To (ST)
          example:
          - ACME TIRE - MAIN ST LOCATION
          items:
            type: string
          type: array
        address:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner_consignee_address'
      required:
      - address
      - agencyCode
      - name
      - partyID
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner_carrierParty:
      example:
        agencyCode: "182"
        partyID: ABCD
      properties:
        partyID:
          description: Carrier SCAC code. Up to 4 characters
          example: ABCD
          type: string
        agencyCode:
          description: "182 = US, standard carrier alpha code"
          example: "182"
          type: string
      required:
      - agencyCode
      - partyID
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner_lineLevel_inner_references_inner:
      example:
        referenceTypeCode: BM
        lineID: "1"
        documentID: BOL123456
      properties:
        referenceTypeCode:
          description: "Reference Type Code: BM = Bill of Lading number, ON = Customer\
            \ Purchase Order Number, VN = Michelin Sales Order Number, ACC = Shipping\
            \ unit identification"
          enum:
          - BM
          - "ON"
          - VN
          - ACC
          example: BM
          type: string
        documentID:
          description: "Document ID corresponding to the reference type code. This\
            \ could be Michelin Bill of Lading number, Customer Purchase Order Number,\
            \ Michelin Sales Order Number, or Trailer ID (where present)"
          example: BOL123456
          type: string
        lineID:
          description: Line ID within purchase order or sales order
          example: "1"
          type: string
      required:
      - documentID
      - referenceTypeCode
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner_lineLevel_inner_orderedArticle_articleIdentification:
      example:
        buyersArticleID: "321"
        manufacturersArticleID: "62115"
      properties:
        buyersArticleID:
          description: Customer part number where applicable
          example: "321"
          type: string
        manufacturersArticleID:
          description: Michelin part number. 5 digit value
          example: "62115"
          type: string
      required:
      - manufacturersArticleID
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner_lineLevel_inner_orderedArticle_articleDescription:
      example:
        articleDescriptionText:
        - 265/70R17 115TDFNDRLTXMSORLMTP
      properties:
        articleDescriptionText:
          description: Description for Michelin part number
          example:
          - 265/70R17 115TDFNDRLTXMSORLMTP
          items:
            type: string
          type: array
      required:
      - articleDescriptionText
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner_lineLevel_inner_orderedArticle_despatchedQuantity:
      example:
        measureUnitCode: PCE
        quantityValue: 4
      properties:
        quantityValue:
          description: Quantity of units by line
          example: 4
          type: integer
        measureUnitCode:
          description: Fixed measurement unit PCE = pieces
          example: PCE
          type: string
      required:
      - measureUnitCode
      - quantityValue
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner_lineLevel_inner_orderedArticle_tracingInformation_inner:
      example:
        tracingID: 1Z999AA10123456784
      properties:
        tracingID:
          description: Tracking number
          example: 1Z999AA10123456784
          type: string
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner_lineLevel_inner_orderedArticle:
      example:
        despatchedQuantity:
          measureUnitCode: PCE
          quantityValue: 4
        articleDescription:
          articleDescriptionText:
          - 265/70R17 115TDFNDRLTXMSORLMTP
        tracingInformation:
        - tracingID: 1Z999AA10123456784
        - tracingID: 1Z999AA10123456784
        articleIdentification:
          buyersArticleID: "321"
          manufacturersArticleID: "62115"
        deliveryOption: []
      properties:
        articleIdentification:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner_lineLevel_inner_orderedArticle_articleIdentification'
        articleDescription:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner_lineLevel_inner_orderedArticle_articleDescription'
        despatchedQuantity:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner_lineLevel_inner_orderedArticle_despatchedQuantity'
        deliveryOption:
          example: []
          items:
            type: string
          type: array
        tracingInformation:
          description: Tracking number information - repeated at line level. Small
            package shipments could include multiple tracking numbers repeated at
            each line level.
          items:
            $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner_lineLevel_inner_orderedArticle_tracingInformation_inner'
          type: array
      required:
      - articleDescription
      - articleIdentification
      - despatchedQuantity
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner_lineLevel_inner:
      example:
        references:
        - referenceTypeCode: BM
          lineID: "1"
          documentID: BOL123456
        - referenceTypeCode: BM
          lineID: "1"
          documentID: BOL123456
        orderedArticle:
          despatchedQuantity:
            measureUnitCode: PCE
            quantityValue: 4
          articleDescription:
            articleDescriptionText:
            - 265/70R17 115TDFNDRLTXMSORLMTP
          tracingInformation:
          - tracingID: 1Z999AA10123456784
          - tracingID: 1Z999AA10123456784
          articleIdentification:
            buyersArticleID: "321"
            manufacturersArticleID: "62115"
          deliveryOption: []
        lineID: "1"
      properties:
        lineID:
          description: Line ID for ASN items - repeats based on number of lines within
            shipment
          example: "1"
          type: string
        references:
          items:
            $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner_lineLevel_inner_references_inner'
          type: array
        orderedArticle:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner_lineLevel_inner_orderedArticle'
      required:
      - lineID
      - orderedArticle
      - references
      type: object
    EDIWheel_C1_0_DesadvResponse_desadv_inner:
      example:
        consignee:
          address:
            city: ANYTOWN
            street:
            - 456 MAIN ST
            - SUITE 100
            - null
            countryCode: US
            district: SC
            postCode: 12345-6789
          name:
          - ACME TIRE - MAIN ST LOCATION
          agencyCode: "91"
          partyID: "1234567"
        references:
        - referenceTypeCode: DQ
          documentID: BOL123456
        - referenceTypeCode: DQ
          documentID: BOL123456
        documentNumber: BOL123456
        arrivalDate: 2025-01-18
        lineLevel:
        - references:
          - referenceTypeCode: BM
            lineID: "1"
            documentID: BOL123456
          - referenceTypeCode: BM
            lineID: "1"
            documentID: BOL123456
          orderedArticle:
            despatchedQuantity:
              measureUnitCode: PCE
              quantityValue: 4
            articleDescription:
              articleDescriptionText:
              - 265/70R17 115TDFNDRLTXMSORLMTP
            tracingInformation:
            - tracingID: 1Z999AA10123456784
            - tracingID: 1Z999AA10123456784
            articleIdentification:
              buyersArticleID: "321"
              manufacturersArticleID: "62115"
            deliveryOption: []
          lineID: "1"
        - references:
          - referenceTypeCode: BM
            lineID: "1"
            documentID: BOL123456
          - referenceTypeCode: BM
            lineID: "1"
            documentID: BOL123456
          orderedArticle:
            despatchedQuantity:
              measureUnitCode: PCE
              quantityValue: 4
            articleDescription:
              articleDescriptionText:
              - 265/70R17 115TDFNDRLTXMSORLMTP
            tracingInformation:
            - tracingID: 1Z999AA10123456784
            - tracingID: 1Z999AA10123456784
            articleIdentification:
              buyersArticleID: "321"
              manufacturersArticleID: "62115"
            deliveryOption: []
          lineID: "1"
        measures:
          grossWeight:
            measure: 450.5
            measureUnitCode: lbs
        totalQuantity:
          measureUnitCode: PCE
          quantityValue: 12
        arrivalTime: 14:30:00
        buyerParty:
          agencyCode: "91"
          partyID: "1111111"
        despatchDate: 2025-01-16
        carrierParty:
          agencyCode: "182"
          partyID: ABCD
        issueDate: 2025-01-15
        deliveryOption: []
      properties:
        issueDate:
          description: Issue Date where date format = YYYY-MM-DD
          example: 2025-01-15
          type: string
        documentNumber:
          description: Michelin Bill of Lading number
          example: BOL123456
          type: string
        measures:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner_measures'
        despatchDate:
          description: Ship Date where date format = YYYY-MM-DD
          example: 2025-01-16
          type: string
        arrivalDate:
          description: Expected arrival date = YYYY-MM-DD
          example: 2025-01-18
          type: string
        arrivalTime:
          example: 14:30:00
          type: string
        deliveryOption:
          example: []
          items:
            type: string
          type: array
        totalQuantity:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner_totalQuantity'
        references:
          items:
            $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner_references_inner'
          type: array
        buyerParty:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner_buyerParty'
        consignee:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner_consignee'
        carrierParty:
          $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner_carrierParty'
        lineLevel:
          items:
            $ref: '#/components/schemas/EDIWheel_C1_0_DesadvResponse_desadv_inner_lineLevel_inner'
          type: array
      required:
      - arrivalDate
      - buyerParty
      - carrierParty
      - consignee
      - despatchDate
      - documentNumber
      - issueDate
      - lineLevel
      - measures
      - references
      type: object
    EDIWheel_C1_1_OrderCreationRequest_allOf_customerReference:
      properties:
        documentId:
          description: Customer PO Number
          example: CUSTOMERPO001
          type: string
      required:
      - documentId
      type: object
    EDIWheel_C1_1_OrderCreationRequest_allOf_supplierParty_address:
      properties:
        street:
          example:
          - ""
          items:
            type: string
          type: array
        city:
          example: ""
          type: string
        district:
          example: ""
          type: string
        postCode:
          example: ""
          type: string
        postBoxCode:
          example: ""
          type: string
        subCountry:
          example: ""
          type: string
        countryCode:
          enum:
          - US
          - CA
          example: US
          type: string
      required:
      - countryCode
      type: object
    EDIWheel_C1_1_OrderCreationRequest_allOf_supplierParty_informationContact:
      properties:
        contactId:
          example: ""
          type: string
        name:
          description: "This value would equal supplier party name returned in inventory\
            \ inquiry response where order is to be sent. <br> In this example, request\
            \ is to supplier = Michelin (to ship from Michelin DC)."
          example:
          - Michelin
          items:
            type: string
          type: array
        telephoneNumber:
          example: ""
          type: string
        telephoneExtension:
          example: ""
          type: string
        faxNumber:
          example: ""
          type: string
        emailAddress:
          example: ""
          type: string
      required:
      - name
      type: object
    EDIWheel_C1_1_OrderCreationRequest_allOf_supplierParty:
      properties:
        partyId:
          example: ""
          type: string
        agencyCode:
          description: Fixed value "91"
          example: "91"
          type: string
        name:
          example:
          - ""
          items:
            type: string
          type: array
        address:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_allOf_supplierParty_address'
        informationContact:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_allOf_supplierParty_informationContact'
      required:
      - agencyCode
      - informationContact
      type: object
    EDIWheel_C1_1_OrderCreationRequest_allOf_buyerParty:
      properties:
        partyId:
          description: Michelin's 7-digit Bill To account number associated with the
            ordering location.
          example: "1111111"
          type: string
        agencyCode:
          description: Fixed value "91"
          example: "91"
          type: string
      required:
      - agencyCode
      - partyId
      type: object
    EDIWheel_C1_1_OrderCreationRequest_allOf_consignee:
      properties:
        partyId:
          description: Michelin's 7-digit Ship To account number associated with the
            ordering location.
          example: "1234567"
          type: string
        agencyCode:
          description: Fixed value "91"
          example: "91"
          type: string
      required:
      - agencyCode
      - partyId
      type: object
    EDIWheel_C1_1_OrderCreationRequest_allOf_additionalCustomerReferenceNumber:
      properties:
        documentId:
          description: Unique transaction reference number for each order request
          example: MXDLRUS-P-EXT0000058
          type: string
      required:
      - documentId
      type: object
    EDIWheel_C1_1_OrderCreationRequest_allOf_orderedArticle_articleIdentification:
      properties:
        buyersArticleId:
          description: "Customer part number (CPN). <br> IF CPN is to be used, a cross\
            \ reference must exist within the Michelin system between the Michelin\
            \ part number and the customer part number. <br> If manufacturersArticleId\
            \ is being used, this value is not required. <br> Max characters allowed\
            \ = 17."
          type: string
        manufacturersArticleId:
          description: "Part number (Michelin 5 digit MSPN).<br> If buyersArticleId\
            \ is being used, this value is not required."
          type: string
      type: object
    EDIWheel_C1_1_OrderCreationRequest_allOf_orderedArticle_requestedQuantity:
      properties:
        quantityValue:
          description: Requested quantity should be greater than 0 and should not
            include decimal values
          example: "4"
          type: string
      required:
      - quantityValue
      type: object
    EDIWheel_C1_1_OrderCreationRequest_allOf_orderedArticle:
      properties:
        articleIdentification:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_allOf_orderedArticle_articleIdentification'
        requestedDeliveryDate:
          description: Requested delivery date format YYYY-MM-DD
          example: 2025-01-03
          type: string
        requestedQuantity:
          $ref: '#/components/schemas/EDIWheel_C1_1_OrderCreationRequest_allOf_orderedArticle_requestedQuantity'
      required:
      - articleIdentification
      - requestedDeliveryDate
      - requestedQuantity
      type: object
    EDIWheel_C1_1_OrderCreationRequest_allOf_orderLine:
      properties:
        lineId:
          description: Sequential line number id
          example: "001"
          type: string
[...]
